<div class="content-wrapper">
   
        <div class="content w960 layout">
            <div style="float:left;wdith:100%; display:block;">
                <span class="fl">
                    当前位置：
                </span>
                <ul class="fl">
                    <li class="fl">
                        <a class="fs14" href="/">
                            华人医生
                        </a>
                        &nbsp;&gt;&nbsp;
                    </li>
                    <li class="fl">
                        <a class="fs14" href="">
                            资讯
                        </a>
                        &nbsp;&gt;&nbsp;
                    </li>
                    <li class="fl">
                        <a class="fs14" href="">
                            新闻资讯
                        </a>
                        &nbsp;&gt;&nbsp;
                    </li>
                    <li class="fl">
                        资讯详情
                    </li>
                </ul>
            </div>
            <div style="float:left;wdith:100%; display:block;">
                <div class="main w660 fl mt10">
                    <div class="panel">
                        <div class="panel-body  pb8 bb">
                            <div class="panel-info-title">
                                <h1>
                                    这些过敏原潜伏在你身边
                                    <!-- 2015.06.29 这些过敏原潜伏在你身边 ---->
                                </h1>
                                <p class="blue_1 tc mb10">
                                    <span class="mr15">
                                        2015-11-26 09:46
                                    </span>
                                    <span class="mr15">
                                        来源：
                                        <a href="http://www.phbjmu.edu.cn/cn/jiankangxinwen/8710.html" rel="nofollow" target="_blank">
                                            北京大学人民医院
                                        </a>
                                    </span>
                                    <!-- 转载 -->
                                    <span>
                                        责编：张绅
                                    </span>
                                </p>
                            </div>
                            <div class="panel-info-cont">
                                <p class="article-summary">
                                    过敏反应又称超敏反应或变态反应，是指身体对正常人可耐受的物质产生异常免疫反应。过敏时的免疫系统，会把一些本来对身体无害的物质，甚至身体本身都当作攻击目标，进而造成损伤....
                                </p>
                                <p>
                                    <span style="font-family: 'Microsoft yahei', 微软雅黑, 宋体, Tahoma, Verdana, Arial, sans-serif; font-size: 14px;">
                                        　　主讲人：北京大学人民医院呼吸
                                        <a href="http://sz.91160.com/dep/index/cno-A.html" class="article-keyword" target="_blank">
                                            内科
                                        </a>
                                        副主任医师 陈燕文：
                                    </span>
                                    <a href="http://www.91160.com/doctors/index/docid-100018236/depid-100005185.html" style="font-family: 'Microsoft yahei', 微软雅黑, 宋体, Tahoma, Verdana, Arial, sans-serif; font-size: 14px;">
                                        http://www.91160.com/doctors/index/docid-100018236/depid-100005185.html
                                    </a>
                                    <br>
                                </p>
                                <p>
                                    　　过敏反应又称超敏反应或变态反应，是指身体对正常人可耐受的物质产生异常免疫反应。过敏时的免疫系统，会把一些本来对身体无害的物质，甚至身体本身都当作攻击目标，进而造成损伤。据统计，我国过敏人数约占总人口的33%。导致过敏的物质(过敏原)可能是罕见的物质，但多数是很常见的生活用品、食物。对于一些过敏者来说，意想不到的过敏原就藏在身边，如果不好好防范就可能会出现过敏，严重时甚至会危及生命。
                                </p>
                                <p>
                                    　　
                                    <strong>
                                        过敏的症状有哪些
                                    </strong>
                                </p>
                                <p>
                                    　　过敏是一种全身性疾病，在某一时间段内可以表现为某一个器官发病，也会以某个器官为主的多个器官发病。有时可以“潜伏”一段时间，还能“转移”，即一段时间内某一器官发病，另一时间段内则换成另一器官出现症状。但发病后若没有及时治疗，致病的过敏原会逐渐变多。同时，更多的器官会受到影响，症状也会
                                    逐渐加重。过敏时在各系统的常见症状主要有以下几类。
                                </p>
                                <p>
                                    　　呼吸系统。鼻子可出现过敏性鼻炎，常表现为反复发作的鼻痒、喷嚏(常连打数个)、流清水样鼻涕等症状。如果间断出现胸闷、气短、经常咳嗽、喘息等，则有可能是过敏引发的哮喘。患者还可能出现过敏性咽喉炎，具体表现为咽喉肿痛、干咳、咽部瘙痒等症状。
                                </p>
                                <p>
                                    　　眼部。最常见的眼睛过敏为过敏性结膜炎，伴有眼痒、流泪、结膜充血、水肿、眼睑肿胀等。 消化系统。食物过敏常会出现过敏性胃肠炎，临床上常表现为腹部痉挛性疼痛、
                                    <a href="http://www.91160.com/disease/detail/id-60.html" class="article-keyword" target="_blank">
                                        腹泻
                                    </a>
                                    、呕吐等。
                                </p>
                                <p>
                                    　　皮肤。皮肤过敏可患湿疹、特应性
                                    <a href="http://www.91160.com/disease/detail/id-546.html" class="article-keyword" target="_blank">
                                        皮炎
                                    </a>
                                    、
                                    <a href="http://www.91160.com/disease/detail/id-556.html" class="article-keyword" target="_blank">
                                        荨麻疹
                                    </a>
                                    和接触性皮炎等。湿疹主要表现为瘙痒、红斑、水疱、糜烂、结痂等; 特应性皮炎的皮肤表现与湿疹相似，但瘙痒更剧烈，常会继发或伴有呼吸系统的过敏症状;荨麻疹则会使红色或白色风团状皮疹反复出现;接触性皮炎常会在接触过敏原的部位出现红斑、丘疹、水疱等。
                                </p>
                                <p>
                                    　
                                    <strong>
                                        　生活中常见的过敏原：衣、食、住、行
                                    </strong>
                                </p>
                                <p>
                                    　　衣：羽绒服轻便、暖和，但有些人在穿羽绒服或使用
                                    <a href="http://sz.91160.com/dep/index/cno-O.html#dep_map_id" class="article-keyword" target="_blank">
                                        其他
                                    </a>
                                    羽绒制品之后，全身会出现大小不等、颜色浅红的团块，并伴皮肤瘙痒;也可同时表现为流涕、喷嚏、咳嗽、胸闷等症状，这可能是发生了过敏。
                                </p>
                                <p>
                                    　　另外，有些人还会对丝织品过敏。尤其对于有哮喘史的患者而言，长期接触丝织品会导致症状反复和加重。因此，过敏体质的人应减少穿着羽绒、蚕丝制品，尽量选择棉质的衣物。选用化妆品与护肤品时，尽量避免使用气味刺激的，并减少染发剂的使用。
                                </p>
                                <p>
                                    　　食。牛奶、鸡蛋中含有白蛋白，这对于哮喘及其他过敏患者是非常强的过敏原，应避免食用。老年过敏患者常还患有心脑血管疾病，蛋黄中的胆固醇偏高，也不利于他们的健康。除鸡蛋外，鹅蛋、鹌鹑蛋也会引起过敏，患者在食用前最好要咨询医生，若出现不适应停止进食并就医。
                                </p>
                                <p>
                                    　　鱼虾等海鲜也易引起过敏，尤其是肉色偏红的鱼肉，其中含有过敏原更多，患者应尽量避免食用该种肉类。螃蟹、扇贝等甲壳类海产品的过敏原比较耐热，经过高温蒸熟也会导致部分患者过敏，尽量不要吃。
                                </p>
                                <p>
                                    　　坚果类如榛子、核桃等中也存在一些过敏原。蔬菜水果也会引起部分患者的过敏反应，常见的有对桃子、菠萝、芒果过敏等。过敏患者还要经常进行自我监测，如果发现吃了某种食物后，在固定时间内会出现不适，很可能是过敏的症状，应及时咨询医生。
                                </p>
                                <p>
                                    　　住。居住场所中的尘螨是诱发过敏的主要因素，常存在于床、沙发、被褥等地方。尘螨宜生长在22~26摄氏度，湿 度50%以上的环境中。为防止尘螨的滋生，要定期清洗枕套、被子等卧具，并用干净的口袋将它们洗后密封。尽量不要用地毯尤其在卧室中,地毯内尘螨的含量很
                                    高，极易诱发过敏。
                                </p>
                                <p>
                                    　　蟑螂也是居所中比较常见的过敏原，它常寄居于厨房和空调内等地，患者若直接接触，或使用它触碰过的餐具等会引起过敏。因此，要经常清理厨房，必要时可使用药物灭杀蟑螂。
                                </p>
                                <p>
                                    　　真菌是屋内引起过敏的另一个因素，在潮湿、通风差的环境中较多。室内要保持相对干燥，尽量少用或不用加湿器(其中也会滋生真菌)。必要时，可使用除湿器将室内湿度稳定在25%~50%之间。还要定期打扫浴室，及时丢弃霉变食物。
                                </p>
                                <p>
                                    　　许多家庭喜欢养宠物如猫、狗、鸽子等，殊不知其中也隐藏着许多的过敏原。猫的分泌物、毛发、唾液，狗的唾液以及鸽子的羽毛、排泄物等，常会引起哮喘等过敏性疾病患者的不适，不建议患者养。如果确实不可避免，要尽量远离，不要让它们进入起居室内，同时可以戴上口罩、手套减少接触过敏原的几率。慢性阻塞
                                    性肺病、肺纤维化等呼吸道疾病患者也不建议饲养宠物。
                                </p>
                                <p>
                                    　　行。吸烟对呼吸系统等危害很大，哮喘等过敏性疾病患者接触烟雾，会加重病情，同时降低对治疗药物的敏感性。患者应少去吸烟区等空气不好的地方。公共汽车上，周围刺激的气味如香水味也可能诱发过敏。选择公共交通工具出行时，应尽量待在通风较好的位置。也可带口罩进行
                                    预防，但不要太厚，以免影响呼吸。有部分患者对杀虫剂过敏，这类患者应远离草坪等绿化带。对花粉过敏的患者，在立秋前后最好减少出门和开窗通风的频率，避免症状反复。
                                </p>
                                <p>
                                    　　气候改变也会加重过敏，患者在气候多变时应减少外出，同时注意保暖，增添衣物。如必须外出，可遵医嘱用抗过敏药如异丙嗪等缓解症状，但别长期使用，以免出现不良反应。
                                    还需提醒，精神紧张、压力大、情绪变化也会导致机体调节功能紊乱，从而引起过敏反应。患者平时可通过冥想、深呼吸等进行放松，并注意保持睡眠充足，出现消极情绪，不要压抑，多进行倾诉。
                                </p>
                                <p>
                                    　
                                    <strong>
                                        　如何治疗过敏
                                    </strong>
                                </p>
                                <p>
                                    　　出现过敏也不用过分担心，目前有很多手段可以治疗。可使用脱敏治疗的方法，具体为通过某些手段让一定量的过敏原进入体内，让身体产生相应抗体。随后，逐步递增过敏原的浓度，让机体产生免疫耐受。常用手段有注射、舌下含服、脱敏贴等。
                                </p>
                                <p>
                                    　　还可在医生指导下服用扑尔敏、苯海拉明等抗过敏药物。如果过敏比较严重，还可遵医嘱使用葡萄糖酸钙、氯化钙等钙剂以及肾上腺皮质激素等免疫抑制剂进行抗过敏治疗。
                                </p>
                                <p>
                                    　　——摘自：生命时报
                                </p>
                            </div>
                            <p class="layout">
                                <span class="fr">
                                    <br>
                                    <br>
                                    <!-- （责任编辑：沉思） -->
                                </span>
                            </p>
                            <p class="fs12 mt8">
                                <!-- 关键字： <a href="javascript:void(0);"></a>
                                -->
                            </p>
                            <div class="fs12 mt8 clearfix" style="display:none">
                                <a href="javascript:void(0);" class="clickLike fl mr15 patch-png" ectype="10344">
                                    赞(
                                    <span class="zan">
                                        0
                                    </span>
                                    )
                                </a>
                                <!-- <a href="javascript:AddFavorite();" class="collect fl patch-png">收藏本文</a> -->
                                <!-- JiaThis Button BEGIN -->
                                <div class="jiathis_style fr">
                                    <span class="jiathis_txt">
                                        分享到：
                                    </span>
                                    <a class="jiathis_button_tsina web_share" title="分享到新浪微博">
                                        <span class="jiathis_txt jtico jtico_tsina">
                                        </span>
                                    </a>
                                    <a class="jiathis_button_tqq web_share" title="分享到腾讯微博">
                                        <span class="jiathis_txt jtico jtico_tqq">
                                        </span>
                                    </a>
                                    <a class="jiathis_button_qzone web_share" title="分享到QQ空间">
                                        <span class="jiathis_txt jtico jtico_qzone">
                                        </span>
                                    </a>
                                    <a class="jiathis_button_weixin web_share" title="分享到微信">
                                        <span class="jiathis_txt jtico jtico_weixin">
                                        </span>
                                    </a>
                                </div>
                                <!-- JiaThis Button END -->
                            </div>
                        </div>
                        <div class="layout panel-footer" style="display:none">
                            <div style="float:left;width:48%;">
                                <img src="./健康资讯_files/ecodwx.gif" alt="关注就医160微信服务号" style="width:120px;">
                                <p class="fs12" style="line-height:30px;">
                                    关注就医160微信服务号
                                </p>
                            </div>
                            <div style="float:left;width:48%;">
                                <img src="./健康资讯_files/ecodapp.gif" alt="下载就医160 APP" style="width:120px;">
                                <p class="fs12" style="line-height:30px;">
                                    下载就医160 APP
                                </p>
                            </div>
                        </div>
                        <div class="nextinfo" style="display:none">
                            <p>
                                前一篇：
                                <a href="http://www.91160.com/health/detail/id-10343.html">
                                    中南大学湘雅医院老年医学科治疗什么比较好?
                                </a>
                            </p>
                            <p>
                                后一篇：
                                <a href="http://www.91160.com/health/detail/id-33.html">
                                    北京社区医院与42家大医院实现预约转诊
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="panel" style="display:none">
                        <div class="panel-head layout">
                            <h4 class="panel-title fl">
                                相关推荐
                            </h4>
                        </div>
                        <div class="panel-body layout">
                            <ul class="column column_2 layout well-list-info">
                                <li class="column-grid ">
                                    <a href="http://www.91160.com/health/detail/id-6004.html">
                                        · 5000G流量免费送，每天签到每天送
                                    </a>
                                </li>
                                <li class="column-grid column-grid_right">
                                    <a href="http://www.91160.com/health/detail/id-7223.html">
                                        · 重庆合道堂名医馆入驻就医160
                                    </a>
                                </li>
                                <li class="column-grid ">
                                    <a href="http://www.91160.com/health/detail/id-7348.html">
                                        · 为什么看病这么难？
                                    </a>
                                </li>
                                <li class="column-grid column-grid_right">
                                    <a href="http://www.91160.com/health/detail/id-9529.html">
                                        · 5000份礼品免费包邮送!签到就有
                                    </a>
                                </li>
                                <li class="column-grid ">
                                    <a href="http://www.91160.com/health/detail/id-9083.html">
                                        · 高血压患者流鼻血警惕中风
                                    </a>
                                </li>
                                <li class="column-grid column-grid_right">
                                    <a href="http://www.91160.com/health/detail/id-8091.html">
                                        · 就医160携手uber 39元专车红包免费送
                                    </a>
                                </li>
                                <li class="column-grid ">
                                    <a href="http://www.91160.com/health/detail/id-9310.html">
                                        · 在家测血糖别用力挤压手指
                                    </a>
                                </li>
                                <li class="column-grid column-grid_right">
                                    <a href="http://www.91160.com/health/detail/id-9205.html">
                                        · 养生花草茶的4大饮用误区
                                    </a>
                                </li>
                                <li class="column-grid ">
                                    <a href="http://www.91160.com/health/detail/id-10121.html">
                                        · 中国最佳医院综合排行榜
                                    </a>
                                </li>
                                <li class="column-grid column-grid_right">
                                    <a href="http://www.91160.com/health/detail/id-10173.html">
                                        · 让医生惊掉下巴的身体异物，太没节操了！（上）
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel mb0">
                        <div class="panel-head layout">
                            <h4 class="panel-title fl">
                                网友评论
                            </h4>
                        </div>
                        <div class="panel-body layout">
                            <div class="allpost">
                                <ul class="panel-list-post">
                                    <li>
                                        <div class="post-body">
                                            暂无评论
                                        </div>
                                    </li>
                                </ul>
                                <div class="user-post">
                                    <div class="layout">
                                        <input id="article_id" name="article_id" type="hidden" value="10344">
                                        <img class="fl mr10" src="./健康资讯_files/user-img.jpg" width="50" height="50">
                                        <p style="margin-top: 14px; ">
                                            账号登陆：
                                            <a href="javascript:;" class="h_login">
                                                登录
                                            </a>
                                            或
                                            <a href="http://www.91160.com/user/reg.html">
                                                注册
                                            </a>
                                        </p>
                                    </div>
                                    <div class="mt8">
                                        <textarea class="textarea" name="content" id="content" placeholder="说点什么吧。。。">                                        </textarea>
                                    </div>
                                    <p class="fs12 blue_1 layout mt8">
                                        <span class="fr">
                                            <!-- <label><input type="checkbox" name="weibo" id="weibo" value="1"/> 同步到微博</label> -->
                                            <a href="javascript:;" class="btn btn_middle btn_blue_light" id="submit">
                                                发&nbsp;表
                                            </a>
                                        </span>
                                        网友评论仅供网友表达个人看法，并不表明就医160同意其观点或证实其描述
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end main-->
                <div class="aside w290 fl mt10">
                    
                    
                 
                  
                </div>
                <!--end aside-->
            </div>
        </div>
        <!--end content-->
    </div>
