<div class="content w1200 layout">
  <hr />
  <div class="mb50 layout">
    <div class="fl w1200 gdl_con">
      <div class="layout">
        <h2>找医生咨询</h2>
        <div id="consult_dep" class="fl gdl_tab ">
            <h1 style="color: #F30202;font-size: 18px;">300名心血管专家咨询</h1>
        </div>
        <div class="s_search fr" style="margin-left:0">
                            <i class="g_icon g_sicon"></i>

                            <input type="text" name="search_key" id="search_key" value="输入医生姓名" class="search_input fl" placeholder="请输入您想搜索的医生" autocomplete="off" placeholders="请输入您想搜索的医院、医生、或疾病名称" style="color: rgb(153, 153, 153);">
                                <input type="hidden" id="serch_type" name="search_type" value="0">
                                <input type="hidden" id="no_city" name="no_city" value="0">
                                <input type="submit" value="搜 索" id="btn_search" name="btnSearch" class="btn_border fl btn_search">
         </div>
        <a href="" class="fr more "> <span></span> <i class="more_i g_icon"></i> </a> </div>
      <div class="layout cons">
        <div id="department" class="list_block layout">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
               <td style=" width:100px;margin-right:20px;font-size:18px;" align="right">
            心脏疾病: &nbsp;&nbsp;
              </td>
               <td style=" width:90px;"> <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_myocardiosis" style="padding: 0 12px;width:20px;height:30px;vertical-align:middle;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">心肌病</label></td>
               <td style=" width:120px;"> <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_coronary" style="padding: 0 12px;width:20px;height:30px;vertical-align:middle;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">冠心病</label></td>
               <td style=" width:120px;"> <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_arhythmia" style="padding: 0 12px;width:20px;height:30px;vertical-align:middle;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">心律失常</label></td>
               <td style=" width:120px;"> <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_chd" style="padding: 0 12px;width:20px;height:30px;vertical-align:middle;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">先天性心脏病</label></td>
               <td style=" width:120px;"> <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_valvulopathy" style="padding: 0 12px;width:20px;height:30px;vertical-align:middle;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">心脏瓣膜病</label></td>
               <td style=" width:120px;"> <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_pericardial" style="padding: 0 12px;width:20px;height:30px;vertical-align:middle;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">心包疾病</label></td>
               <td style=" width:120px;"> <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_heart-failure" style="padding: 0 12px;width:20px;height:30px;vertical-align:middle;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">心力衰竭</label></td>
               <td style=" width:120px;"> <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_heart-failure" style="padding: 0 12px;width:20px;height:30px;vertical-align:middle;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">其他</label></td>
              </tr>
             </table>
         </div>
        <div id="department" class="list_block layout">
          <table>
          <tr>
           <td style=" width:100px;margin-right:20px;font-size:18px;" align="right">
          症状特征: &nbsp;&nbsp;
           </td>
           <td style=" width:90px;">
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_chest" style="padding: 0 12px;width:20px;height:30px;vertical-align:middle;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">&nbsp;胸闷&nbsp;</label>
          </td>
           <td style=" width:120px;">
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_dyspnea" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">呼吸困难</label>
          </td>
           <td style=" width:120px;">
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_palpitation" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">心悸</label>
          </td>
           <td style=" width:120px;">
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_pectoralgia" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">胸痛</label>
          </td>
           <td style=" width:120px;">
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_fever" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">发热</label>
          </td>
           <td style=" width:120px;">
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_blackness" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">眼前发黑</label>
          </td>
           <td style=" width:120px;">
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_lossconsciousness" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">晕厥</label>
          </td>
          </tr>
          <tr>
           <td style=" width:100px;">
           </td>
           <td style=" width:90px;">
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_faint" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">晕倒</label>
          </td>
           <td style=" width:120px;">
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_edema" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">双下肢肿胀</label>
          </td>
           <td style=" width:120px;">
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_cyanosis" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">四肢紫绀</label>
          </td>
           <td style=" width:120px;">
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_ecchymosis" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">皮下淤血</label>
          </td>
           <td style=" width:120px;">
               <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_headache" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">头晕、头痛</label>
          </td>
           <td style=" width:120px;">
               <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_head" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">头胀</label>
          </td>
           <td style=" width:120px;">
               <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_vision" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">视物模糊</label>
          </td>
           <td style=" width:120px;">
               <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_other2" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">其他</label>
          </td>
           </tr>
            </table>
        </div>
        <div id="department" class="list_block layout">
          <table>
           <tr>
           <td style=" width:100px;margin-right:20px;font-size:18px;" align="right">
          地域选择: &nbsp;&nbsp;
           </td>
           <td style=" width:90px;">
           
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_beijing" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">北京</label>
           </td>
           <td style=" width:120px;"> <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_other_area" style="padding: 0 12px;width:20px;height:30px;vertical-align:middle;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">其他</label></td>
           </tr>
         </table>
        </div>
        <div id="department" class="list_block layout">
          <table>
          <tr>
           <td style=" width:100px;margin-right:20px;font-size:18px;" align="right">
          医院选择: &nbsp;&nbsp;
           </td>
           <td style=" width:90px;">
              <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_fw" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">阜外医院</label>
           </td>
           <td style=" width:120px;">
               <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_xh" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">安贞医院</label>
           </td>
           <td style=" width:120px;">
               <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_xh" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">海军总医院</label>
           </td>
           <td style=" width:120px;">
               <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_xh" style="padding: 0 12px;vertical-align:middle;width:20px;height:30px;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">北京466医院</label>
           </td>
           <td style=" width:120px;"> <input name="autoLogin" type="checkbox" value="1" class="check-box" id="id_other_doc" style="padding: 0 12px;width:20px;height:30px;vertical-align:middle;"><label for="lo_nexr" style="padding: 0 4px;vertical-align:middle;">其他</label></td>
           <tr>
          </table>
        </div>
        
        <div id="department" class="list_block layout" style="margin:0 auto;text-align:center; padding-top:15px">
			<p></p>
                  <input class="" name="commit" id="btn_search_1" type="submit" style="background-color:#02c8b1;color:#fff;font-size:24px;padding:5px 35px 8px" value="指定医生咨询">
                  <input class="" name="commit" id="btn_celerity_consult" type="submit" style="background-color:#02c8b1;color:#fff;font-size:24px;padding:5px 35px 8px" value="多医生免费咨询">
        </div>
      </div>
    </div>
  </div>
</div>
