<link href="hdf/erweima.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/doctorpctwo.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/hospital-erweima.css" rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="hdf/register_login_new.js"></script> 
  <link href="hdf/numbers.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/calendar.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/base_p.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/proposal.css" rel="stylesheet" type="text/css" /> 
  <link type="text/css" rel="stylesheet" href="hdf/search.css" /> 
  <link href="hdf/erweima.css" rel="stylesheet" type="text/css" /> 
  <link type="text/css" rel="stylesheet" href="hdf/top_change.6b711130.css" /> 
  <link type="text/css" rel="stylesheet" href="hdf/collect.css" /> 
  <link href="hdf/patientmanage.b88f4d9c.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/doctorpostpictures.c2e5161c.css" rel="stylesheet" type="text/css" /> 
  <link rel="stylesheet" href="hdf/zzxdoctor.8f423d8e.css" type="text/css" /> 
  <link href="hdf/followup.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/docscale.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/docscale3.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/page_space_assistant.css" rel="stylesheet" type="text/css" /> 
  <link rel="stylesheet" href="hdf/jquery.fancybox-1.3.4.css" type="text/css" media="screen" /> 
  <script type="text/javascript" src="hdf/fancybox.js"></script>
  <script type="text/javascript" src="hdf/jquery.fancybox-1.3.4.pack.js"></script> 
  <link rel="stylesheet" href="hdf/jquery.fancybox-1.3.4.css" type="text/css" media="screen" /> 
  <script type="text/javascript">
var fancybox_systemcode = 'doctorzone';
</script> 
  <link href="hdf/page_space.f54feced.css" rel="stylesheet" type="text/css" /> 
  <link rel="stylesheet" type="text/css" href="hdf/login.css" /> 
  <link rel="stylesheet" type="text/css" href="hdf/patientlist.css" /> 
  <script src="hdf/jquery-1.8.3.min.js" type="text/javascript"></script> 
  <script src="hdf/fancybox(1).js" type="text/javascript"></script>
  <script type="text/javascript" src="hdf/jquery.fancybox-1.3.4.pack.js"></script> 
  <link rel="stylesheet" href="hdf/jquery.fancybox-1.3.4(1).css" type="text/css" media="screen" /> 
  <script src="hdf/page_space.f1a7d7eb.js" type="text/javascript"></script> 
  <script src="hdf/jquery-ui-1.8.custom.min.js" type="text/javascript"></script> 
  <script src="hdf/jquery.jplayer.min.js" type="text/javascript"></script> 
  <script src="hdf/calendar.js" type="text/javascript"></script> 
  <script>
$(function(){
    var $font = $(".article_detail").find("font"); 
    var $color = $font.attr('color');
    if ($color)
    {
        $font.find("a").css('color',$color);
//        $(".article_detail font a").css('color',$color);
    }
    });
</script> 
<div class="space_header2_20140224">

    <div class="space_banner" style="background:#eee url(http://i1.hdfimg.com/doctorzone/templates/tpl01/banner.jpg) no-repeat left top;">
        <div class="space_b_title">
            <h1><a class="space_b_link_url" href="/doctor_website">郑宏大夫的个人网站</a>&nbsp;<span class="space_b_url">hrysheng.com</span></h1>
        </div>

        <div class="space_b_doc_con clearfix">
            <div class="space_b_pic">
                <div class="space_b_pic_con">
                    <img src="http://n4.hdfimg.com/g4/M00/1C/3C/q4YBAFTQqe6AfNMLADYH2gIGZxo922_110_110_1.jpg?1597" alt="医生头像" title="郑宏">
                </div>
            </div>
            <div class="space_b_picright">
                <div class="doc_title clearfix">
                    <h3 class="doc_name f22 fl">
                    郑宏&nbsp;&nbsp;
                                                主任医师                        教授                    </h3>
                    <a href="javascript:;" id="saveweb" class="ml5 fl" onclick="return favPage();">收藏本站</a>
                </div>
                <div class="doc_hospital clearfix" style="min-height:40px;_height:40px;">
                    <div class="fl pr">
                        <div style="left:100%;margin-left:10px;top:0;width:170px;" class="pa">
                                                                                                                                                                    </div>
                                                <p>
                        <a href="" target="_blank">北京阜外医院</a>&nbsp;
                        <a href="" target="_blank">介入放射科</a>
                        </p>
                                            </div>
                </div>
            </div>
        </div>
        <p class="space_b_store_site fs">本站已经通过实名认证，所有内容由郑宏大夫本人发表</p>
    <div class="space_b_info_page right10">
        <a href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW.htm" target="_blank">郑宏</a>大夫信息中心页 

<!--扫码-->

   <!--扫码-->
       <div class="doctor_top_erweima" style="display:none">
       <img src="http://i1.hdfimg.com/apptransform/images/codeimg_83.png">
          <div class="number">
              <p>请下载APP，</p>
              <p>直接与我沟通!</p>
              <p class="gray">已扫614次</p>
          </div>
        </div>
   </div>
 <!--扫码-->
   </div>
</div>
<script>
    function favPage()
    {
        var ua = navigator.userAgent.toLowerCase();
        var title = "郑宏大夫个人网站";
        var url = "http://zhxxb.haodf.com";
        if(ua.indexOf("msie 8")>-1){
            external.AddToFavoritesBar(url,title,"");//IE8
        }else{
            try {
                window.external.addFavorite(url, title);
            } catch(e) {
                try {
                    window.sidebar.addPanel(title, url, "");//firefox
                } catch(e) {
                    alert("加入收藏失败，请使用Ctrl+D进行添加");
                }
            }
        }
    }
</script>

<div class="space_nav_div_20140224">
<div class="nav_div"> 
        <div class="nav">
            <ul class="clearfix f16">
 
                <li style="overflow:visible; z-index: 1;">
                    <a href="doctor_website" class="">首页</a>
                                   </li>
 
                <li style="overflow:visible; z-index: 1;">
                    <a href="/doctor_answer" class="choiced">咨询服务区</a>
                                   </li>
 
                <li style="overflow:visible; z-index: 1;">
                    <a href="/doctor_plus" rel="nofollow" class="">预约加号</a>
                                   </li>
 
                <li style="overflow:visible; z-index: 1;">
                    <a href="doctor_lanmu" class="">文章</a>
                                   </li>
 
        </ul>
     </div>
</div>
</div>

<div class="content_2 clearfix">

    <!--咨询入口 start-->
    <div class="service_top_bg clearfix">
    <div class="advise_area pr5 mb10 fl fs">
                        <div class="clearfix">
        <textarea id="thread_title" class="gray3 advise_text1 text_w1" defaulttext="在此简单描述病情，向郑宏大夫提问">在此简单描述病情，向郑宏大夫提问</textarea>
        <a class="advise_button pl10 w_b1" href="javascript:;" onclick="toAskIndex('zhxxb');">咨询郑宏大夫</a>
        </div>
                <p class="fs f12 pt10"> </p>
                <p class="lh180 pr40 pt10"><span class="fb">郑宏的咨询范围：</span>心血管病影像诊断及介入治疗，主要是先心病，瓣膜病，肾动脉、颈动脉等外周血管疾病的诊断与介入治疗</p> 
    </div>
    <!--
    <p style="width:280px; height:120px; overflow:hidden;">
        <a target="_blank" href="http://www.haodf.com/info/mobile/hdf_mobile.php?from=patientzone"><img src="http://i1.hdfimg.com/doctorzone/images/patient_ad_icon.png" /></a>
    </p>
    -->
</div>
    <!--咨询入口 end-->

    <!--服务区 start-->
    <div class="mt10">
        <div class="clearfix pb10 bb_c">
    <p class="fl pt10">
        <span class="f22 advise_area_icon">服务区</span> 
        <span class="pl5 fs">（全部患者：<span class="f14 orange1">146</span>）
    </span></p>

      <div class="space_search_140401 space_list_search_140401 fr pt10">
       <form action="/search/search" method="post" target="_blank">
        <input type="hidden" class="text" name="type" value="zixun">
        <input type="text" class="text" name="keyword" value="">
        <input type="submit" class="sub" value="搜索">
        </form>
      </div>
</div>
        <div class="zixun_list">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr class="zixun_list_title"><td width="2%"></td>
                <td width="10%">患者</td>
                <td width="40%">标题</td>
                <td width="20%">相关疾病</td>
                <td width="13%">对话数 (医/患)</td>
                <td width="15%">最后发表</td>
            </tr>
<tr>
    <td></td>
    <td><p>h***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_3305478087.htm" class="td_link">超声检查，肺动脉瓣狭窄</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_3305478087.htm" class="rela_dis">肺动脉瓣狭窄</a></td>
    <td>
        1 (<font class="green3 pl5 pr5">0/1</font>)
    </td>
            <td>
        <span class="gray3">2015-08-26 06:24:57<br></span>
            by
                            h***    </td>

</tr>
<tr>
    <td></td>
    <td><p>h***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_3136692833.htm" class="td_link">上海医院体检是查出先天性房间隔</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_3136692833.htm" class="rela_dis">房间隔缺损</a></td>
    <td>
        1 (<font class="green3 pl5 pr5">0/1</font>)
    </td>
            <td>
        <span class="gray3">2015-07-28 20:59:01<br></span>
            by
                            h***    </td>

</tr>
<tr>
    <td></td>
    <td><p>肥***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_3101966991.htm" class="td_link">超声测值：升主动脉内径25，房</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_3101966991.htm" class="rela_dis">房间隔缺损（继发孔中...</a></td>
    <td>
        1 (<font class="green3 pl5 pr5">0/1</font>)
    </td>
            <td>
        <span class="gray3">2015-07-22 13:59:55<br></span>
            by
                            肥***    </td>

</tr>
<tr>
    <td></td>
    <td><p>h***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2658229957.htm" class="td_link">房缺0.9CM，建议孩子体重1</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2658229957.htm" class="rela_dis">房间隔缺损</a></td>
    <td>
        1 (<font class="green3 pl5 pr5">0/1</font>)
    </td>
            <td>
        <span class="gray3">2015-05-20 13:07:49<br></span>
            by
                            h***    </td>

</tr>
<tr>
    <td></td>
    <td><p>h***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2362704598.htm" class="td_link">最近左侧卧睡觉时（腋窝下，中间</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2362704598.htm" class="rela_dis">房间隔缺损及（心脏动...</a></td>
    <td>
        1 (<font class="green3 pl5 pr5">0/1</font>)
    </td>
            <td>
        <span class="gray3">2015-04-01 06:32:49<br></span>
            by
                            h***    </td>

</tr>
<tr>
    <td></td>
    <td><p>h***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2346116047.htm" class="td_link">动脉导管未闭患者找郑宏大夫就诊后报到成...</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2346116047.htm" class="rela_dis">动脉导管未闭</a></td>
    <td>
        3 (<font class="green3 pl5 pr5">0/3</font>)
    </td>
            <td>
        <span class="gray3">2015-03-28 16:44:45<br></span>
            by
                            h***    </td>

</tr>
<tr>
    <td></td>
    <td><p>h***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2296973863.htm" class="td_link">咨询房缺封堵。</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2296973863.htm" class="rela_dis">房缺，三尖瓣下移，三...</a></td>
    <td>
        3 (<font class="green3 pl5 pr5">1/2</font>)
    </td>
            <td>
        <span class="gray3">2015-03-18 10:56:22<br></span>
            by
                            h***    </td>

</tr>
<tr>
    <td></td>
    <td><p>l***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2296933756.htm" class="td_link">先心病房缺</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2296933756.htm" class="rela_dis">房间隔缺损</a></td>
    <td>
        2 (<font class="green3 pl5 pr5">1/1</font>)
    </td>
            <td>
        <span class="gray3">2015-03-18 10:33:59<br></span>
            by
                            <span class="green3">郑宏</span>    </td>

</tr>
<tr>
    <td></td>
    <td><p>h***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2143602879.htm" class="td_link">主动脉瓣下狭窄</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2143602879.htm" class="rela_dis">跨瓣压差107mmHG</a></td>
    <td>
        2 (<font class="green3 pl5 pr5">1/1</font>)
    </td>
            <td>
        <span class="gray3">2015-02-03 17:03:17<br></span>
            by
                            <span class="green3">郑宏</span>    </td>

</tr>
<tr>
    <td></td>
    <td><p>h***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2143578759.htm" class="td_link">肺动脉狭窄</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2143578759.htm" class="rela_dis">肺动脉狭窄</a></td>
    <td>
        2 (<font class="green3 pl5 pr5">1/1</font>)
    </td>
            <td>
        <span class="gray3">2015-02-03 16:57:06<br></span>
            by
                            <span class="green3">郑宏</span>    </td>

</tr>
<tr>
    <td></td>
    <td><p>1***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2122345613.htm" class="td_link">左冠状动脉瘘</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2122345613.htm" class="rela_dis">左冠状动脉瘘</a></td>
    <td>
        4 (<font class="green3 pl5 pr5">2/2</font>)
    </td>
            <td>
        <span class="gray3">2015-02-03 16:53:19<br></span>
            by
                            <span class="green3">郑宏</span>    </td>

</tr>
<tr>
    <td></td>
    <td><p>1***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2143562583.htm" class="td_link">房间隔缺损患者找郑宏大夫就诊后报到成功...</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_2143562583.htm" class="rela_dis">房间隔缺损</a></td>
    <td>
        1 (<font class="green3 pl5 pr5">0/1</font>)
    </td>
            <td>
        <span class="gray3">2015-02-03 16:52:41<br></span>
            by
                            1***    </td>

</tr>
<tr>
    <td></td>
    <td><p>h***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1991322257.htm" class="td_link">房间隔封堵</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1991322257.htm" class="rela_dis">房间隔缺损</a></td>
    <td>
        4 (<font class="green3 pl5 pr5">1/3</font>)
    </td>
            <td>
        <span class="gray3">2014-12-24 16:04:07<br></span>
            by
                            h***    </td>

</tr>
<tr>
    <td></td>
    <td><p>叶***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1023018604.htm" class="td_link">房间隔缺损患者给郑宏大夫写感谢信</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1023018604.htm" class="rela_dis">房间隔缺损</a></td>
    <td>
        2 (<font class="green3 pl5 pr5">0/2</font>)
    </td>
            <td>
        <span class="gray3">2014-11-29 20:41:10<br></span>
            by
                            叶***    </td>

</tr>
<tr>
    <td></td>
    <td><p>y***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1775496111.htm" class="td_link">风湿性心脏病，二尖瓣中重度狭窄</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1775496111.htm" class="rela_dis">风心病 二尖瓣中重度狭...</a></td>
    <td>
        2 (<font class="green3 pl5 pr5">0/2</font>)
    </td>
            <td>
        <span class="gray3">2014-11-07 12:23:12<br></span>
            by
                            y***    </td>

</tr>
<tr>
    <td></td>
    <td><p>s***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1810792952.htm" class="td_link">动脉导管未闭患者给郑宏大夫写感谢信</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1810792952.htm" class="rela_dis">动脉导管未闭</a></td>
    <td>
        2 (<font class="green3 pl5 pr5">0/2</font>)
    </td>
            <td>
        <span class="gray3">2014-10-16 17:07:15<br></span>
            by
                            s***    </td>

</tr>
<tr>
    <td></td>
    <td><p>d***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1419730463.htm" class="td_link">1、2013年春出现下肢浮肿，</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1419730463.htm" class="rela_dis">风湿性心脏病</a></td>
    <td>
        1 (<font class="green3 pl5 pr5">0/1</font>)
    </td>
            <td>
        <span class="gray3">2014-03-24 09:15:46<br></span>
            by
                            d***    </td>

</tr>
<tr>
    <td></td>
    <td><p>z***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_739271794.htm" class="td_link">11月女婴肺动脉瓣狭窄（重度）可以通过介...</a>
                                                   <img src="http://i1.hdfimg.com/doctorzone/images/zixun_icon2.png" align="absmiddle" title="付费咨询">
            
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_739271794.htm" class="rela_dis">肺动脉瓣狭窄（重度）...</a></td>
    <td>
        14 (<font class="green3 pl5 pr5">6/8</font>)
    </td>
            <td>
        <span class="gray3">2014-03-20 11:40:15<br></span>
            by
                            <span class="green3">郑宏</span>    </td>

</tr>
<tr>
    <td></td>
    <td><p>p***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1405967123.htm" class="td_link">房间隔中部回声中断，此处探及左</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1405967123.htm" class="rela_dis">先天性心脏病-继发孔型...</a></td>
    <td>
        1 (<font class="green3 pl5 pr5">0/1</font>)
    </td>
            <td>
        <span class="gray3">2014-03-16 20:47:45<br></span>
            by
                            p***    </td>

</tr>
<tr>
    <td></td>
    <td><p>s***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1405915539.htm" class="td_link">3月份在北大医院做的超声心动检</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1405915539.htm" class="rela_dis">房间隔缺损（继发孔型...</a></td>
    <td>
        1 (<font class="green3 pl5 pr5">0/1</font>)
    </td>
            <td>
        <span class="gray3">2014-03-16 20:27:15<br></span>
            by
                            s***    </td>

</tr>
<tr>
    <td></td>
    <td><p>秦***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1335885338.htm" class="td_link">先天性心脏病，房间隔缺损（继发</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1335885338.htm" class="rela_dis">房间隔缺损</a></td>
    <td>
        1 (<font class="green3 pl5 pr5">0/1</font>)
    </td>
            <td>
        <span class="gray3">2014-02-09 20:03:23<br></span>
            by
                            秦***    </td>

</tr>
<tr>
    <td></td>
    <td><p>王***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1286201850.htm" class="td_link">右心肥大，冠状动脉血管堵塞70</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1286201850.htm" class="rela_dis">冠心病</a></td>
    <td>
        1 (<font class="green3 pl5 pr5">0/1</font>)
    </td>
            <td>
        <span class="gray3">2014-01-06 08:52:34<br></span>
            by
                            王***    </td>

</tr>
<tr>
    <td></td>
    <td><p>x***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1180352449.htm" class="td_link">冠脉CT或冠脉造影</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1180352449.htm" class="rela_dis">冠心病 心绞痛</a></td>
    <td>
        5 (<font class="green3 pl5 pr5">2/3</font>)
    </td>
            <td>
        <span class="gray3">2013-12-27 13:41:07<br></span>
            by
                            x***    </td>

</tr>
<tr>
    <td></td>
    <td><p>鑫***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1219632811.htm" class="td_link">超声波检查。结果房缺、室缺、肺</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1219632811.htm" class="rela_dis">房缺室缺</a></td>
    <td>
        1 (<font class="green3 pl5 pr5">0/1</font>)
    </td>
            <td>
        <span class="gray3">2013-12-09 10:26:25<br></span>
            by
                            鑫***    </td>

</tr>
<tr>
    <td></td>
    <td><p>1***</p></td>
    <td>
                <p><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1180339076.htm" class="td_link">先天性室缺损</a>
                                    
            
            
            
            
        </p>
    </td>
        <td><a target="_blank" href="http://www.haodf.com/wenda/zhxxb_g_1180339076.htm" class="rela_dis">先天性室缺损</a></td>
    <td>
        3 (<font class="green3 pl5 pr5">1/2</font>)
    </td>
            <td>
        <span class="gray3">2013-11-13 20:27:29<br></span>
            by
                            1***    </td>

</tr>
        </tbody></table>
                <div class="pt20 pb20 bb_d3"><div class="page_main"><div class="page_turn"><a class="page_cur" rel="true">1</a><a href="?type=&amp;p=2" class="page_turn_a">2</a><a href="?type=&amp;p=3" class="page_turn_a">3</a><a>...</a><a href="?type=&amp;p=6" class="page_turn_a">6</a><a href="?type=&amp;p=2" class="page_turn_a">下一页 &gt;</a><a class="page_turn_a" rel="true">共&nbsp;6&nbsp;页</a><a class="page_text">转到</a><input class="page_input_1" size="2" type="text" name="custompage" onkeydown="if(event.keyCode==13) {return false;}"><a class="page_input_2 ml10" href="javascript:;" onclick="$(this).attr('href','?type=&amp;p='+$(this).prev().val()+'')">GO</a></div></div></div>
            </div>
        <div class="fs pt20 lh180">
    <a href="http://passport.haodf.com/proposal/showthreadlist" target="_blank"> 我咨询的问题为什么不见了？点击此处去您的个人空间查看详情<span class="f8">&gt;&gt;</span>
    </a><br>
    <span class="gray2">提示：好大夫网站系统将会自动屏蔽不符合要求的咨询对话</span>
</div>
                
    </div>
    <!--服务区 end-->

</div>
