<link href="hdf/erweima.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/doctorpctwo.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/hospital-erweima.css" rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="hdf/register_login_new.js"></script> 
  <link href="hdf/numbers.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/calendar.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/base_p.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/proposal.css" rel="stylesheet" type="text/css" /> 
  <link type="text/css" rel="stylesheet" href="hdf/search.css" /> 
  <link href="hdf/erweima.css" rel="stylesheet" type="text/css" /> 
  <link type="text/css" rel="stylesheet" href="hdf/top_change.6b711130.css" /> 
  <link type="text/css" rel="stylesheet" href="hdf/collect.css" /> 
  <link href="hdf/patientmanage.b88f4d9c.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/doctorpostpictures.c2e5161c.css" rel="stylesheet" type="text/css" /> 
  <link rel="stylesheet" href="hdf/zzxdoctor.8f423d8e.css" type="text/css" /> 
  <link href="hdf/followup.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/docscale.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/docscale3.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/page_space_assistant.css" rel="stylesheet" type="text/css" /> 
  <link rel="stylesheet" href="hdf/jquery.fancybox-1.3.4.css" type="text/css" media="screen" /> 
  <script type="text/javascript" src="hdf/fancybox.js"></script>
  <script type="text/javascript" src="hdf/jquery.fancybox-1.3.4.pack.js"></script> 
  <link rel="stylesheet" href="hdf/jquery.fancybox-1.3.4.css" type="text/css" media="screen" /> 
  <script type="text/javascript">
var fancybox_systemcode = 'doctorzone';
</script> 
  <link href="hdf/page_space.f54feced.css" rel="stylesheet" type="text/css" /> 
  <link rel="stylesheet" type="text/css" href="hdf/login.css" /> 
  <link rel="stylesheet" type="text/css" href="hdf/patientlist.css" /> 
  <script src="hdf/jquery-1.8.3.min.js" type="text/javascript"></script> 
  <script src="hdf/fancybox(1).js" type="text/javascript"></script>
  <script type="text/javascript" src="hdf/jquery.fancybox-1.3.4.pack.js"></script> 
  <link rel="stylesheet" href="hdf/jquery.fancybox-1.3.4(1).css" type="text/css" media="screen" /> 
  <script src="hdf/page_space.f1a7d7eb.js" type="text/javascript"></script> 
  <script src="hdf/jquery-ui-1.8.custom.min.js" type="text/javascript"></script> 
  <script src="hdf/jquery.jplayer.min.js" type="text/javascript"></script> 
  <script src="hdf/calendar.js" type="text/javascript"></script> 
  <script>
$(function(){
    var $font = $(".article_detail").find("font"); 
    var $color = $font.attr('color');
    if ($color)
    {
        $font.find("a").css('color',$color);
//        $(".article_detail font a").css('color',$color);
    }
    });
</script> 
<div class="space_header_20140224"> 
   <div class="space_banner" style="background:#eee url(http://i1.hdfimg.com/doctorzone/templates/tpl01/banner.jpg) no-repeat left top;"> 
    <div class="space_b_title"> 
     <h1><a class="space_b_link_url" href="hdf/zhxxb.html">郑宏大夫的个人网站</a>&nbsp;<span class="space_b_url">hrysheng.com</span></h1> 
    </div> 
    <div class="space_b_doc_con clearfix"> 
     <div class="space_b_pic doc_head_img"> 
      <div class="space_b_pic_con"> 
       <img src="hdf/q4YBAFTQqe6AfNMLADYH2gIGZxo922_150_150_1.jpg" alt="医生头像" title="郑宏"> 
      </div> 
     </div> 
     <div class="space_b_picright"> 
      <div class="doc_title clearfix"> 
       <h3 class="doc_name f22 fl">郑宏&nbsp;&nbsp;主任医师 教授</h3> 
       <a id="collcetspace" class="favs ml30" href="javascript:;"><span></span>收藏</a> 
       <a id="subscribespace" class="dy ml30" href="javascript:;"><em></em>订阅医生动态</a> 
      </div> 
      <div class="doc_hospital clearfix" style="min-height:40px;_height:40px;"> 
       <div class="fl pr"> 
        <div style="left:100%;margin-left:10px;top:0;width:180px;" class="pa"> 
        </div> 
        <p> <a href="http://www.haodf.com/hospital/DE4raCNSz6ONZORxEH4FVECt.htm" target="_blank">北京阜外医院</a>&nbsp; <a href="http://www.haodf.com/faculty/DE4r0Fy0C9LuZWwly7q6dvoRNvXH4DNxe.htm" target="_blank">介入放射科</a> </p> 
       </div> 
      </div> 
     </div> 
     <p class="space_b_store_site fs"> 本站已经通过实名认证，所有内容由郑宏大夫本人发表</p> 
     <div class="space_b_info_page " style="display:none"> 
      <a href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW.htm" target="_blank">郑宏</a>大夫信息中心页 
      <!--扫码--> 
      <div class="doctor_top_erweima"> 
       <img src="hdf/codeimg_83.png"> 
       <div class="number"> 
        <p>请下载APP，</p> 
        <p>直接与我沟通!</p> 
        <p class="gray">已扫613次</p> 
       </div> 
      </div> 
     </div> 
     <!--扫码--> 
    </div> 
   </div> 
   <script>
    $(function(){
        $(".doc_head_img").hover(function(){
            $(this).find(".upd_docimg").show();
        }, function(){
            $(this).find(".upd_docimg").hide();
        });
    });

    function favPage()
    {
        var ua = navigator.userAgent.toLowerCase();
        var title = "郑宏大夫个人网站";
        var url = "http://zhxxb.haodf.com";
        if(ua.indexOf("msie 8")>-1){
            external.AddToFavoritesBar(url,title,"");//IE8
        }else{
            try {
                window.external.addFavorite(url, title);
            } catch(e) {
                try {
                    window.sidebar.addPanel(title, url, "");//firefox
                } catch(e) {
                    alert("加入收藏失败，请使用Ctrl+D进行添加");
                }
            }
        }
    }

    $(function () 
    {
        $("#collcetspace").click(function () 
        {
            $.ajax({
                type: "post",
                data: {
                    'userid' : 3413287560,
                      'type' : 5, 
                    'relatedid' : 6448                    },
                    url:"/api/index/ajaxpostcollect",
                    success: function(data){
                        var data = eval('('+data+')');
                        if (data.success == "1")
                        {
                            $('#collcetspace').html("<span class='ok'></span>已收藏")
                        }
                    }
                });
        })

        $("#subscribespace").click(function () 
        {
            $.ajax({
                type: "post",
                data: {
                    'userid' : 3413287560,
                      'userdoctor' : '1', 
                    'relatedid' : 6448                    },
                    url:"/api/index/ajaxpostcollect",
                    success: function(data){
                        var data = eval('('+data+')');
                        if (data.success == "1")
                        {
                                $('#subscribespace').html("<em class='ok'></em>已订阅")
                        }
                    }
                });
        })
    })

    </script> 
   <!--mainMenu--> 
   <div class="space_nav_div_20140224"> 
    <div class="nav_div"> 
     <div class="nav"> 
      <ul class="clearfix f16"> 
       <li style="overflow:visible; z-index: 1;"> <a href="/doctor_website" class="choiced">首页</a> </li> 
       <li style="overflow:visible; z-index: 1;"> <a href="/doctor_consult" class="">咨询服务区</a> </li> 
       <li style="overflow:visible; z-index: 1;"> <a href="/doctor_plus" rel="nofollow" class="">预约加号</a> </li> 
       <li style="overflow:visible; z-index: 1;"> <a href="/doctor_lanmu" class="">文章</a> </li> 
      </ul> 
     </div> 
    </div> 
   </div> 
   <!--MainMenu end--> 
   <!--subMain--> 
   <!--subMenu end--> 
   <!--header end--> 
   <!--content开始--> 
   <div class="content_2 clearfix"> 
    <!--left start--> 
    <div class="left_content fr"> 
     <!--搜索框 start--> 
     <div class="space_search140418 btn clearfix has_btn"> 
      <form action="http://zhxxb.haodf.com/search/search" method="post" target="_blank"> 
       <input type="hidden" name="type" value="all"> 
       <input type="text" onblur="if(this.value==''){this.value='在此输入疾病名、文章名、话题关键字';}this.style.color='#979797';this.style.border='2px solid #d3d3d3';" onfocus="this.select();this.style.color='#000';this.style.border='2px solid #F70';" onclick="if(this.value=='在此输入疾病名、文章名、话题关键字'){this.value='';this.style.color='#000';this.style.border='2px solid #F70';}" value="在此输入疾病名、文章名、话题关键字" name="keyword" class="text" style="color: rgb(151, 151, 151); border: 2px solid rgb(211, 211, 211);"> 
       <div class="sub">
        <input type="submit" value="搜 索" class="">
       </div> 
      </form> 
      <div class="btn_box_20141112"> 
       <a href="http://passport.haodf.com/user/patientsigninrouter?spaceId=406206663" class="btn_20141112"> <span>患者报到</span> <i>住院/门诊</i> </a> 
      </div> 
     </div> 
     <!--搜索框 end--> 
     <!--欢迎词 start--> 
     <!--欢迎词 end--> 
     <!--快捷键按钮 start--> 
     <div class="shortcut pb20 ml20"> 
      <ul class="clearfix"> 
       <li> <a rel="nofollow" href="http://zixun.haodf.com/ask.php?srcflag&amp;host_user_id=406206663&amp;case_title=&amp;src=" target="_blank" class="online_advise_btn">网上咨询</a> </li> 
       <li> <a rel="nofollow" href="http://jiahao.haodf.com/doctor/zhxxb/index.htm" class="jiahao_btn">预约加号</a> </li> 
      </ul> 
     </div> 
     <!--快捷键按钮 end--> 
     <!--大夫文章 start--> 
     <div class="pb30 ml20"> 
      <p class="line_x"><span class="m_title">郑宏大夫的文章</span></p> 
      <!--专题报道区 start--> 
      <!--专题报道区 end --> 
      <div class="doc_article"> 
       <ul> 
        <li> 
         <div class="clearfix"> 
          <p class="fl black art_title"><a target="_blank" href="http://zhxxb.haodf.com/lanmu?category_id=406206670" class="pr5 fl art_cate">[学术前沿]</a><a target="_blank" href="http://www.haodf.com/zhuanjiaguandian/zhxxb_2296893015.htm" class="fl art_t">阜外郑宏团队已三次应用3D打印行先心封堵术</a><span class="gray3 f14 ml5 fn">(转载)</span> </p> 
          <p class="fr tr"> <span class="gray3 pr5"> 120 </span>人已读&nbsp;&nbsp;发表于2015-03-18 </p> 
         </div> </li> 
        <li> 
         <div class="clearfix"> 
          <p class="fl black art_title"><a target="_blank" href="http://zhxxb.haodf.com/lanmu?category_id=406206668" class="pr5 fl art_cate">[媒体报道]</a><a target="_blank" href="http://www.haodf.com/zhuanjiaguandian/zhxxb_2296801671.htm" class="fl art_t">3D打印技术开创先心病私人定制新时代</a><span class="gray3 f14 ml5 fn">(转载)</span> </p> 
          <p class="fr tr"> <span class="gray3 pr5"> 32 </span>人已读&nbsp;&nbsp;发表于2015-03-18 </p> 
         </div> </li> 
        <li> 
         <div class="clearfix"> 
          <p class="fl black art_title"><a target="_blank" href="http://zhxxb.haodf.com/lanmu?category_id=599561377" class="pr5 fl art_cate">[好消息]</a><a target="_blank" href="http://www.haodf.com/zhuanjiaguandian/zhxxb_2296767839.htm" class="fl art_t">下腔型房间隔缺损也可不开刀手术了</a><span class="gray3 f14 ml5 fn">(转载)</span> </p> 
          <p class="fr tr"> <span class="gray3 pr5"> 103 </span>人已读&nbsp;&nbsp;发表于2015-03-18 </p> 
         </div> </li> 
        <li> 
         <div class="clearfix"> 
          <p class="fl black art_title"><a target="_blank" href="http://zhxxb.haodf.com/lanmu?category_id=406206667" class="pr5 fl art_cate">[医学科普]</a><a target="_blank" href="http://www.haodf.com/zhuanjiaguandian/zhxxb_753922836.htm" class="fl art_t">什么是卵圆孔未闭？卵圆孔未闭需要治疗吗？</a><span class="gray3 f14 ml5 fn"></span> </p> 
          <p class="fr tr"> <span class="gray3 pr5"> 3406 </span>人已读&nbsp;&nbsp;发表于2012-07-27 </p> 
         </div> </li> 
        <li> 
         <div class="clearfix"> 
          <p class="fl black art_title"><a target="_blank" href="http://zhxxb.haodf.com/lanmu?category_id=406206666" class="pr5 fl art_cate">[就诊指南]</a><a target="_blank" href="http://www.haodf.com/zhuanjiaguandian/zhxxb_740161478.htm" class="fl art_t">阜外医院先心病介入诊疗程序</a><span class="gray3 f14 ml5 fn"></span> </p> 
          <p class="fr tr"> <span class="gray3 pr5"> 2127 </span>人已读&nbsp;&nbsp;发表于2012-07-12 </p> 
         </div> </li> 
        <li> 
         <div class="clearfix"> 
          <p class="fl black art_title"><a target="_blank" href="http://zhxxb.haodf.com/lanmu?category_id=406206667" class="pr5 fl art_cate">[医学科普]</a><a target="_blank" href="http://www.haodf.com/zhuanjiaguandian/zhxxb_621528031.htm" class="fl art_t">哪些先心病可不开刀得到根治？</a><span class="gray3 f14 ml5 fn"></span> </p> 
          <p class="fr tr"> <span class="gray3 pr5"> 4414 </span>人已读&nbsp;&nbsp;发表于2012-02-24 </p> 
         </div> </li> 
        <li> 
         <div class="clearfix"> 
          <p class="fl black art_title"><a target="_blank" href="http://zhxxb.haodf.com/lanmu?category_id=406207108" class="pr5 fl art_cate">[经典问答]</a><a target="_blank" href="http://www.haodf.com/zhuanjiaguandian/zhxxb_599972010.htm" class="fl art_t">先天性心脏病</a><span class="gray3 f14 ml5 fn"></span> </p> 
          <p class="fr tr"> <span class="gray3 pr5"> 388 </span>人已读&nbsp;&nbsp;发表于2012-01-30 </p> 
         </div> </li> 
        <li> 
         <div class="clearfix"> 
          <p class="fl black art_title"><a target="_blank" href="http://zhxxb.haodf.com/lanmu?category_id=406206666" class="pr5 fl art_cate">[就诊指南]</a><a target="_blank" href="http://www.haodf.com/zhuanjiaguandian/zhxxb_577956278.htm" class="fl art_t">先心病爱心互助活动通知</a><span class="gray3 f14 ml5 fn"></span> </p> 
          <p class="fr tr"> <span class="gray3 pr5"> 1121 </span>人已读&nbsp;&nbsp;发表于2011-12-20 </p> 
         </div> </li> 
        <li> 
         <div class="clearfix"> 
          <p class="fl black art_title"><a target="_blank" href="http://zhxxb.haodf.com/lanmu?category_id=406206669" class="pr5 fl art_cate">[典型病例]</a><a target="_blank" href="http://www.haodf.com/zhuanjiaguandian/zhxxb_406896723.htm" class="fl art_t">双PDA封堵器治疗冠状动脉瘘合并巨大冠状动脉瘤成功（附2例报...</a><span class="gray3 f14 ml5 fn"></span> </p> 
          <p class="fr tr"> <span class="gray3 pr5"> 884 </span>人已读&nbsp;&nbsp;发表于2011-08-04 </p> 
         </div> </li> 
       </ul> 
      </div> 
     </div> 
     <!--大夫文章 end--> 
     <!--患友咨询区 start--> 
     <div class="mb30 ml20"> 
      <div class="clearfix pb10 advise_area_line"> 
       <p class="fl"> <span class="f22">郑宏大夫的患友咨询区</span> <span class="pl5 fs gray3">(已帮助<font class="blue4">146</font>位患者)</span> </p> 
       <p class="fr orange1 pt10 pr10 fs">大夫上次在线：2015-07-20 17:51</p> 
      </div> 
      <div class="bg_w"> 
       <div class="bg_b1 advise_area pt15 pl15 pb15 bl_d3 bb_d3 br_d3 mb10"> 
        <div class=""> 
         <textarea class="gray3 advise_text1 text_w1" id="thread_title" defaulttext="在此简单描述病情，向郑宏大夫提问">在此简单描述病情，向郑宏大夫提问</textarea> 
         <a href="javascript:;" class="advise_btn_y fyhei w_b1" onclick="toAskIndex('zhxxb')">咨询郑宏大夫</a> 
        </div> 
        <p style="clear:both;"></p> 
        <p class="fs orange1 pt10"></p> 
        <p class="fs fb pb5 pt10 wb">郑宏的咨询范围：</p> 
        <p class="fs lh180 pr10 wb"> 心血管病影像诊断及介入治疗，主要是先心病，瓣膜病，肾动脉、颈动脉等外周血管疾病的诊断与介入治疗 </p> 
       </div> 
       <div> 
        <!--***************************************************************--> 
        <ul class="advise_ul fs clearfix"> 
         <li> <span class="advise_ul_title fl"> <a class="fl" href="http://www.haodf.com/wenda/zhxxb_g_3305478087.htm" target="_blank"> 超声检查，肺动脉瓣狭窄 <font class="gray3"> [肺动脉瓣狭...] </font> </a> </span> <span class="advise_ul_time fl"> 15-08-26 06:24</span> <span class="advise_ul_author fl">by h*** </span> </li> 
         <li> <span class="advise_ul_title fl"> <a class="fl" href="http://www.haodf.com/wenda/zhxxb_g_3136692833.htm" target="_blank"> 上海医院体检是查出先天性房间隔 <font class="gray3"> [房间隔缺损...] </font> </a> </span> <span class="advise_ul_time fl"> 15-07-28 20:59</span> <span class="advise_ul_author fl">by h*** </span> </li> 
         <li> <span class="advise_ul_title fl"> <a class="fl" href="http://www.haodf.com/wenda/zhxxb_g_3101966991.htm" target="_blank"> 超声测值：升主动脉内径25，房 <font class="gray3"> [房间隔缺损...] </font> </a> </span> <span class="advise_ul_time fl"> 15-07-22 13:59</span> <span class="advise_ul_author fl">by 肥*** </span> </li> 
         <li> <span class="advise_ul_title fl"> <a class="fl" href="http://www.haodf.com/wenda/zhxxb_g_2658229957.htm" target="_blank"> 房缺0.9CM，建议孩子体重1 <font class="gray3"> [房间隔缺损...] </font> </a> </span> <span class="advise_ul_time fl"> 15-05-20 13:07</span> <span class="advise_ul_author fl">by h*** </span> </li> 
         <li> <span class="advise_ul_title fl"> <a class="fl" href="http://www.haodf.com/wenda/zhxxb_g_2362704598.htm" target="_blank"> 最近左侧卧睡觉时（腋窝下，中间 <font class="gray3"> [房间隔缺损...] </font> </a> </span> <span class="advise_ul_time fl"> 15-04-01 06:32</span> <span class="advise_ul_author fl">by h*** </span> </li> 
         <li> <span class="advise_ul_title fl"> <a class="fl" href="http://www.haodf.com/wenda/zhxxb_g_2346116047.htm" target="_blank"> 动脉导管未闭患者找郑宏大夫就诊后报到成功... <font class="gray3"> [动脉导管未...] </font> </a> </span> <span class="advise_ul_time fl"> 15-03-28 16:44</span> <span class="advise_ul_author fl">by h*** </span> </li> 
         <li> <span class="advise_ul_title fl"> <a class="fl" href="http://www.haodf.com/wenda/zhxxb_g_2296973863.htm" target="_blank"> 咨询房缺封堵。 <font class="gray3"> [房缺，三尖...] </font> </a> </span> <span class="advise_ul_time fl"> 15-03-18 10:56</span> <span class="advise_ul_author fl">by h*** </span> </li> 
         <li> <span class="advise_ul_title fl"> <a class="fl" href="http://www.haodf.com/wenda/zhxxb_g_2296933756.htm" target="_blank"> 先心病房缺 <font class="gray3"> [房间隔缺损...] </font> </a> </span> <span class="advise_ul_time fl"> 15-03-18 10:33</span> <span class="advise_ul_author fl">by <span class="green3">郑宏</span> </span> </li> 
         <li> <span class="advise_ul_title fl"> <a class="fl" href="http://www.haodf.com/wenda/zhxxb_g_2143602879.htm" target="_blank"> 主动脉瓣下狭窄 <font class="gray3"> [跨瓣压差10...] </font> </a> </span> <span class="advise_ul_time fl"> 15-02-03 17:03</span> <span class="advise_ul_author fl">by <span class="green3">郑宏</span> </span> </li> 
         <li> <span class="advise_ul_title fl"> <a class="fl" href="http://www.haodf.com/wenda/zhxxb_g_2143578759.htm" target="_blank"> 肺动脉狭窄 <font class="gray3"> [肺动脉狭窄...] </font> </a> </span> <span class="advise_ul_time fl"> 15-02-03 16:57</span> <span class="advise_ul_author fl">by <span class="green3">郑宏</span> </span> </li> 
        </ul> 
        <p class="tr"> <a href="http://zhxxb.haodf.com/zixun/list.htm" class="show_all pt10">查看全部咨询(共146个)</a> </p> 
       </div> 
      </div> 
     </div> 
     <!--患友咨询区 end --> 
     <!--心意礼物 start--> 
     <div class="mb20 ml20" style="display:none"> 
      <div class="pb10 advise_area_line"> 
       <span class="f22">郑宏大夫收到的礼物</span> 
      </div> 
      <div class="present_doc"> 
       <ul class="present_ul fs clearfix"> 
        <li> <p class="present_pic"> <img src="hdf/oYYBAFJwrAeAA58aAAAq8xvlWeY639_60_60_2.jpg"> </p> <p class="tc pb10 present_name"> 心想事橙(<span>1</span>个) </p> </li> 
        <li> <p class="present_pic"> <img src="hdf/p4YBAFIlv5iAXNViAAAmTzpZ1j8435_60_60_2.gif"> </p> <p class="tc pb10 present_name"> 长寿面(<span>1</span>个) </p> </li> 
        <li> <p class="present_pic"> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxshowpresentdetail?presentid=699322060&amp;uname=zhxxb&amp;src=indexbottom" class="popupwindow"> <img src="hdf/p4YBAFJ4meKAJwHcAAA6oYSCsOU522_60_60_2.jpg"> </a> </p> <p class="tc pb10 present_name"> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxshowpresentdetail?presentid=699322060&amp;uname=zhxxb&amp;src=indexbottom" class="popupwindow"> 德医双馨(<span>1</span>个) </a> </p> </li> 
        <li> <p class="present_pic"> <img src="hdf/pIYBAFIlv56AcGsKAASevD3ziqY296_60_60_2.jpg"> </p> <p class="tc pb10 present_name"> 感恩花篮(<span>1</span>个) </p> </li> 
        <li> <p class="present_pic"> <img src="hdf/p4YBAFIlv5eAShttAAAqJCIlY5M656_60_60_2.gif"> </p> <p class="tc pb10 present_name"> 鲜花(<span>9</span>个) </p> </li> 
        <li> <p class="present_pic"> <img src="hdf/pIYBAFIlv5eAcr8QAAAzYPFNdus035_60_60_2.gif"> </p> <p class="tc pb10 present_name"> 花束(<span>10</span>个) </p> </li> 
        <li> <p class="present_pic"> <img src="hdf/p4YBAFIlv5eAcuvpAAA58Ckg80E101_60_60_2.gif"> </p> <p class="tc pb10 present_name"> 花篮(<span>2</span>个) </p> </li> 
        <li> <p class="present_pic notReceived"> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3216496931&amp;uname=zhxxb" class="popupwindow" title="郑宏大夫还没有收到这个礼物，我要赠送第一个"> <img src="./zhxxb_files/rIYBAFX5KEWAf60QAAAcX403kxM166_60_60_2.png"> </a> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3216496931&amp;uname=zhxxb" class="gift_hover popupwindow">立即赠送</a> </p> <p class="tc present_name"> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3216496931&amp;uname=zhxxb" class="popupwindow" title="郑宏大夫还没有收到这个礼物，我要赠送第一个"> 小小心意 </a> <span class="orange1 f12">还没收到哦</span> </p> </li> 
        <li> <p class="present_pic notReceived"> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3216506320&amp;uname=zhxxb" class="popupwindow" title="郑宏大夫还没有收到这个礼物，我要赠送第一个"> <img src="./zhxxb_files/r4YBAFYV3R6AWCmDAAAp7-qAAAs467_60_60_2.png"> </a> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3216506320&amp;uname=zhxxb" class="gift_hover popupwindow">立即赠送</a> </p> <p class="tc present_name"> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3216506320&amp;uname=zhxxb" class="popupwindow" title="郑宏大夫还没有收到这个礼物，我要赠送第一个"> 暖暖心意 </a> <span class="orange1 f12">还没收到哦</span> </p> </li> 
        <li> <p class="present_pic notReceived"> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3216509041&amp;uname=zhxxb" class="popupwindow" title="郑宏大夫还没有收到这个礼物，我要赠送第一个"> <img src="./zhxxb_files/tIYBAFXJ2KCAN-ygAAA90gOBEdQ487_60_60_2.png"> </a> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3216509041&amp;uname=zhxxb" class="gift_hover popupwindow">立即赠送</a> </p> <p class="tc present_name"> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3216509041&amp;uname=zhxxb" class="popupwindow" title="郑宏大夫还没有收到这个礼物，我要赠送第一个"> 诚心诚意 </a> <span class="orange1 f12">还没收到哦</span> </p> </li> 
        <li> <p class="present_pic notReceived"> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3216511507&amp;uname=zhxxb" class="popupwindow" title="郑宏大夫还没有收到这个礼物，我要赠送第一个"> <img src="./zhxxb_files/qIYBAFX5KSaAGR8mAAA0XMffT2o069_60_60_2.png"> </a> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3216511507&amp;uname=zhxxb" class="gift_hover popupwindow">立即赠送</a> </p> <p class="tc present_name"> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3216511507&amp;uname=zhxxb" class="popupwindow" title="郑宏大夫还没有收到这个礼物，我要赠送第一个"> 心意满满 </a> <span class="orange1 f12">还没收到哦</span> </p> </li> 
        <li> <p class="present_pic notReceived"> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3192804244&amp;uname=zhxxb" class="popupwindow" title="郑宏大夫还没有收到这个礼物，我要赠送第一个"> <img src="./zhxxb_files/tIYBAFXEit-AXnuhAAA90ix4BN4821_60_60_2.png"> </a> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3192804244&amp;uname=zhxxb" class="gift_hover popupwindow">立即赠送</a> </p> <p class="tc present_name"> <a rel="nofollow" href="http://zhxxb.haodf.com/api/present/ajaxsendtomydoctor?presentid=3192804244&amp;uname=zhxxb" class="popupwindow" title="郑宏大夫还没有收到这个礼物，我要赠送第一个"> 心意满满 </a> <span class="orange1 f12">还没收到哦</span> </p> </li> 
       </ul> 
       <div style="margin-top:-1px;"> 
        <p class="tr pr15"> <a href="http://zhxxb.haodf.com/present/presentnavigation" class="show_all1 pt10 pb10">查看全部</a> </p> 
       </div> 
      </div> 
     </div> 
     <script type="text/javascript">
          // $(function(){
          //     $(".notReceived").hover(function(){
          //          $(this).children(".gift_hover").slideUp();
          //     },function(){
          //          $(this).children(".gift_hover").slideDown();
          //     });
          //});
          </script> 
     <!--心意礼物 end--> 
    </div> 
    <!--left end--> 
    <!--right start--> 
    <div class="right_content fl"> 
     <!--出停诊公告start--> 
     <!--出停诊公告end--> 
     <!--大夫信息start--> 
     <link rel="stylesheet" type="text/css" href="hdf/serviceStarpc0919.css"> 
     <script>
  $(function(){
    $(".doctor_star_new").mouseover(function(){
      $(this).children("div").show();
    })
    $(".doctor_star_new").mouseleave(function(){
      $(this).children("div").hide();
    })
  })
</script> 
     <div class="mr_line1 mb20"> 
      <p class="mr_title f18">郑宏大夫的信息</p> 
      <ul class="doc_info_ul1"> 
       <li> 服务星等级： 
        <div class="doctor_star_new"> 
         <a target="_blank" href="http://www.haodf.com/present/spacewxheartboard?type=whole"> <span class="doctor_star_disease"> <span class="doctor_star_yellow_zero"></span> </span> <span class="doctor_star_disease"> <span class="doctor_star_yellow_zero"></span> </span> <span class="doctor_star_disease"> <span class="doctor_star_yellow_zero"></span> </span> <span class="doctor_star_disease"> <span class="doctor_star_yellow_zero"></span> </span> <span class="doctor_star_disease"> <span class="doctor_star_yellow_zero"></span> </span> </a> 
         <div class="graynum">
           服务星值：0分 
         </div> 
        </div> </li> 
       <li> <span class="mr20">感谢信： <a href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/ganxiexin/1.htm">14</a> <img src="hdf/space1.png" alt="感谢信"> </span> <span>礼物： <a rel="nofollow" href="http://zhxxb.haodf.com/present/presentnavigation">25</a> <img src="hdf/space2.png" alt="礼物"> </span> </li> 
       <li> 爱心： <a rel="nofollow" href="http://www.haodf.com/present/spaceheartbillboard" title="爱心值:75分" target="_blank"> <span class="mr20 heartimg"> <img src="hdf/aixin_silver.png"> </span> </a> <span> 贡献值: <a class="blue" target="_blank" rel="nofollow" href="http://www.haodf.com/info/scoreinfo_doctor.php">1832</a> </span> </li> 
      </ul> 
      <div class="fs pr15 pb10 pl15"> 
       <div class="clearfix pt5 bb_d pb5"> 
        <p class="fl">科室：</p> 
        <div class="hh"> 
         <a href="http://www.haodf.com/faculty/DE4r0Fy0C9LuZWwly7q6dvoRNvXH4DNxe.htm" target="_blank"> 北京阜外医院 介入放射科</a> 
        </div> 
       </div> 
       <!--新添加的服务星模块--> 
       <div class="clearfix pt5 bb_d pb5"> 
        <p class="fl">擅长：</p> 
        <div class="hh">
          各种先心病的诊断与介入治疗（如房缺、室缺、动脉导管未闭、肺动脉瓣狭窄、冠状动脉瘘、主动脉缩窄等等的介... 
        </div> 
       </div> 
       <div class="clearfix pt5 bb_d"> 
        <p class="pb5 fl">简介：</p> 
        <div class="hh">
          郑宏，男，1962年出生于江西高安。1985年毕业于江西医学院医疗系，同年留校一附院工作。88年考入中国医学科... 
        </div> 
       </div> 
       <p class="tr pt10"> <a href="http://zhxxb.haodf.com/api/index/ajaxdoctorintro?uname=zhxxb" class="popupwindow a_hover">查看完整简介 <span class="f8">&gt;&gt;</span></a> </p> 
       <div class="clearfix pt10 doctor_text_center"> 
        <a class="send_letter" rel="nofollow" href="http://www.haodf.com/api/doctor/addcomment?doctor_id=6448&amp;doctor_id_primary=6448&amp;addtype=showadd&amp;comment_type=1">发感谢信</a> 
       </div> 
      </div> 
     </div> 
     <!--大夫信息end--> 
     <!--群组start--> 
     <!--群组end--> 
     <!--与大夫通电话 start--> 
     <!--与大夫通电话 end--> 
     <!--门诊时间 start--> 
     <div class="mb20 mr_line2"> 
      <p class="mr_title"><span class="fl f18">郑宏大夫的门诊时间</span></p> 
      <div class="menzhen_time " style="width:308px"> 
       <table class="fs"> 
        <tbody>
         <tr class="bg_f9"> 
          <td width="19%" class="bg_w"></td> 
          <td width="27%">上午</td> 
          <td width="27%">下午</td> 
          <td width="27%">夜班</td> 
         </tr> 
         <tr> 
          <td class="bg_f9" height="36">周一</td> 
          <td></td> 
          <td></td> 
          <td></td> 
         </tr> 
         <tr> 
          <td class="bg_f9" height="36">周二</td> 
          <td></td> 
          <td></td> 
          <td></td> 
         </tr> 
         <tr> 
          <td class="bg_f9" height="36">周三</td> 
          <td> <a href="http://zhxxb.haodf.com/index/ajaxschedule" id="showschedule" class="popupwindow"> <p>专家</p> </a> </td> 
          <td> <a href="http://zhxxb.haodf.com/index/ajaxschedule" id="showschedule" class="popupwindow"> <p>专家</p> </a> </td> 
          <td></td> 
         </tr> 
         <tr> 
          <td class="bg_f9" height="36">周四</td> 
          <td></td> 
          <td></td> 
          <td></td> 
         </tr> 
         <tr> 
          <td class="bg_f9" height="36">周五</td> 
          <td></td> 
          <td></td> 
          <td></td> 
         </tr> 
         <tr> 
          <td class="bg_f9" height="36">周六</td> 
          <td></td> 
          <td></td> 
          <td></td> 
         </tr> 
         <tr> 
          <td class="bg_f9" height="36">周日</td> 
          <td></td> 
          <td></td> 
          <td></td> 
         </tr> 
        </tbody>
       </table> 
       <div> 
       </div> 
      </div> 
     </div> 
     <div style="margin-top:-20px;margin-bottom:20px;height: 100px;display:none">
      <a href="http://www.haodf.com/info/mobile/hdf_mobile.php?from=schedule" class="diab" target="_blank"><img src="hdf/app_doctor_bg02.jpg" class="diab" alt=""></a>
     </div> 
     <script type="text/javascript">
$(document).ready(function(){
    setInterval('AutoScroll("#scroll_div")',3000);
});
</script> 
     <!--门诊时间 end--> 
     <!--与大夫预约加号 start--> 
     <div class="mr_line1 mb20"> 
      <p class="mr_title f18">预约郑宏大夫预约加号</p> 
      <div class="fs p15"> 
       <p class="pb10">以下病情患者，可在好大夫网站预约我的预约加号：</p> 
       <span class="pb10 lh180 textElement">各种先心病的介入治疗（如房缺、室缺、动脉导管未闭、肺动脉瓣狭窄、冠状动脉瘘、主动...</span> 
       <a href="javascript:;" class="a_hover showFullText">更多&gt;&gt;</a> 
       <p class="pb10 pt10"> 已有<span class="orange1"> 21</span>位患者预约就诊成功； </p> 
      </div> 
      <div class="ml15 mr15 pb20"> 
       <a href="http://jiahao.haodf.com/doctor/zhxxb/index.htm" class="tel_btn" target="_blank"> 立即预约 </a> 
      </div> 
     </div> 
     <script type="text/javascript">
var textelement = $('.textElement').text();                   
var showBtn = $('.showFullText');                      
showBtnClick(40, showBtn, textelement);
function showBtnClick(num, showBtn, text){                   
    showBtn.toggle(function(){                         
        $(this).text("更多>>");                    
        $(this).prev().text(text.substring(0,num)+'...');                  
    },function(){                                      
        $(this).text("收起<<");
        $(this).prev().text(text);                     
    }).trigger('click')                                
}
</script> 
     <!--与大夫预约加号 end--> 
     <!--患者投票 start--> 
     <div class="mb20 mr_line1" style="display:none"> 
      <p class="mr_title f18">郑宏大夫的患者投票</p> 
      <div class="pa_vote clearfix p15"> 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/fangque.htm" target="_blank">房间隔缺损</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/fangque.htm" target="_blank">17票</a>)</span> ， 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/dongmaidaoguanweibi.htm" target="_blank">动脉导管未闭</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/dongmaidaoguanweibi.htm" target="_blank">6票</a>)</span> ， 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/shique.htm" target="_blank">室间隔缺损</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/shique.htm" target="_blank">4票</a>)</span> ， 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/feidongmaikouxiazhai.htm" target="_blank">肺动脉口狭窄</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/feidongmaikouxiazhai.htm" target="_blank">2票</a>)</span> ， 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/xinzangjieru.htm" target="_blank">心脏介入</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/xinzangjieru.htm" target="_blank">2票</a>)</span> ， 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/guanzhuangdongjingmailou.htm" target="_blank">冠状动静脉瘘</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/guanzhuangdongjingmailou.htm" target="_blank">1票</a>)</span> ， 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/feidongjingmailou.htm" target="_blank">肺动静脉瘘</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/feidongjingmailou.htm" target="_blank">1票</a>)</span> ， 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/faluosilianzheng.htm" target="_blank">法洛四联症</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/faluosilianzheng.htm" target="_blank">1票</a>)</span> ， 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/dongjingmailou.htm" target="_blank">动静脉瘘</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/dongjingmailou.htm" target="_blank">1票</a>)</span> ， 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/fengshixingxinzangbing.htm" target="_blank">风湿性心脏病</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/fengshixingxinzangbing.htm" target="_blank">1票</a>)</span> ， 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/xiantianxingxinzangbing.htm" target="_blank">先天性心脏病</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/xiantianxingxinzangbing.htm" target="_blank">1票</a>)</span> ， 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/xinzangbanmoxingjibing.htm" target="_blank">心脏瓣膜性疾病</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/xinzangbanmoxingjibing.htm" target="_blank">1票</a>)</span> ， 
       <a rel="nofollow" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/feishuansai.htm" target="_blank">肺栓塞</a>
       <span class="gray2">(<a rel="nofollow" class="gray2" href="http://www.haodf.com/doctor/DE4rO-XCoLUIj5tSkhlkqINLVW/jibingjingyan/feishuansai.htm" target="_blank">1票</a>)</span> 
      </div> 
      <div class="ml15 mr15 pt10 pb20"> 
       <a rel="nofollow" href="http://zhxxb.haodf.com/index/ajaxvote" class="popupwindow tel_btn"> 我要投票 </a> 
      </div> 
     </div> 
     <!--患者投票 end--> 
     <!--患友会 start--> 
     <div class="mb20 mr_line1" style="display:none"> 
      <div class="clearfix mr_title"> 
       <p class="fl f18">郑宏大夫的患友会</p> 
      </div> 
      <div class="clearfix"> 
       <p class="fb fs pl15 pt10 fl">最新话题</p> 
       <p class="fr fs gray3 pr10 pt10">(已开通<span class="orange1">2</span>个小组)</p> 
      </div> 
      <ul class="pa_friend pl15 pb15"> 
       <li> <span>[ <a rel="nofollow" href="http://zhxxb.haodf.com/huanyouhui/group/406908742.htm" target="_blank" class="first">郑宏大夫小组</a> ]</span> <a rel="nofollow" href="http://zhxxb.haodf.com/huanyouhui/thread/2296802942.htm" target="_blank" class="second">3D打印技术开创先心病私人...</a> </li> 
       <li> <span>[ <a rel="nofollow" href="http://zhxxb.haodf.com/huanyouhui/group/406908742.htm" target="_blank" class="first">郑宏大夫小组</a> ]</span> <a rel="nofollow" href="http://zhxxb.haodf.com/huanyouhui/thread/753923273.htm" target="_blank" class="second">什么是卵圆孔未闭？卵圆孔...</a> </li> 
       <li> <span>[ <a rel="nofollow" href="http://zhxxb.haodf.com/huanyouhui/group/406908742.htm" target="_blank" class="first">郑宏大夫小组</a> ]</span> <a rel="nofollow" href="http://zhxxb.haodf.com/huanyouhui/thread/621528888.htm" target="_blank" class="second">哪些先心病可不开刀得到根...</a> </li> 
       <li> <span>[ <a rel="nofollow" href="http://zhxxb.haodf.com/huanyouhui/group/406908742.htm" target="_blank" class="first">郑宏大夫小组</a> ]</span> <a rel="nofollow" href="http://zhxxb.haodf.com/huanyouhui/thread/560517604.htm" target="_blank" class="second">欢迎大家！</a> </li> 
      </ul> 
      <p class="pb15 pr15 tr fs"><a href="http://zhxxb.haodf.com/huanyouhui/index.htm" target="_blank" class="a_hover">查看全部 <span class="f8">&gt;&gt;</span></a> </p>
     </div> 
     <!--患友会 end--> 
     <!--大夫个人网站统计 start--> 
     <div class="mb20 mr_line1" style="display:none"> 
      <p class="f18 mr_title">郑宏大夫个人网站统计</p> 
      <ul class="space_statistics"> 
       <li>总 访 问：<span class="orange1 pr5">122,691</span>次</li> 
       <li>昨日访问：<span class="orange1 pr5">105</span>次(15-10-30)</li> 
       <li>总 文 章：<span class="orange1 pr5">9</span>篇</li> 
       <li>总 患 者：<span class="orange1 pr5">146</span>位</li> 
       <li>昨日诊后报到患者：<span class="orange1 pr5">0</span>位</li> 
       <li>微信诊后报到患者：<span class="orange1 pr5">1</span>位</li> 
       <li>总诊后报到患者：<span class="orange1 pr5">2</span>位</li> 
       <li>患者投票：<span class="orange1 pr5">39</span>票</li> 
       <li>感 谢 信：<span class="orange1 pr5">14</span>封</li> 
       <li>心意礼物：<span class="orange1 pr5">25</span>个</li> 
       <li>上次在线：<span class="orange1 pr5">2015-07-20 17:51</span></li> 
       <li>开通时间：<span class="orange1 pr5">2011-08-03 17:15</span></li> 
      </ul> 
     </div> 
     <!--大夫个人网站统计 end--> 
    </div> 
    <!--right end--> 
   </div> 
   <!--content结束--> 
   <!--二维码模块开始宽度适配1002--> 
   <div class="mengad"> 
    <div class="mengright mengright_1002" style="display: none;"> 
     <span class="mengcenter"><img src="./zhxxb_files/meng1.png"></span> 
     <span class="mengbut mengright_mengbut_1002"><img src="./zhxxb_files/1.12-1.png"></span> 
     <span class="mengclose mengright_close_1002"><img src="./zhxxb_files/1.12-1close.png"></span> 
    </div> 
    <div class="mengleft hidden" style="display: none;"> 
     <span class="mengleftcenter mengleftcenter_1002"><img src="./zhxxb_files/meng2.png"></span> 
     <span class="mengleftclose mengleftclose_1002"><img src="./zhxxb_files/1.12-1fuclose.png"></span> 
    </div> 
   </div> 
   <script type="text/javascript">
      $(document).ready(function() {
           $(".mengclose").click(function() {
              $(".mengleft").hide();
                $(".mengright").hide();
         });
         $(".mengbut").click(function() {
              $(".mengleft").show();
         });
         $(".mengleftclose").click(function() {
              $(".mengleft").hide();
         });
      }); 
     
</script> 
   <!--二维码模块结束--> 
   <div class="footer" style="display:none"> 
    <div class="footer_main"> 
     <p class="gray2 bb_d3 pb15"><span class="gray1">提示：</span>任何关于疾病的建议都不能替代执业医师的面对面诊断。所有门诊时间仅供参考，最终以医院当日公布为准。网友、医生言论仅代表其个人观点，不代表本站同意其说法，请谨慎参阅，本站不承担由此引起的法律责任。</p> 
     <p class="gray3 tc pt15">好大夫在线提供平台支持　Copyright 2015 <a class="gray3" href="http://www.haodf.com/info/icp_auth.php" target="_blank">京ICP证080340号</a> <a class="gray3" href="http://www.haodf.com/info/wsj_auth.php" target="_blank">京卫网审[2013]第0092号</a></p> 
    </div> 
   </div> 
   <script type="text/javascript">
var show_loginbar_logo = true;
var urlprefix = '';
</script> 
   <script type="text/javascript" src="hdf/login_bar_new.000dae4c.js"></script> 
   <!--开通随访首次登陆提示 start--> 
   <!--开通随访首次登陆提示 end--> 
   <script type="text/javascript">
var protocol = document.location.protocol;
if(protocol == 'https:')
{
    document.writeln("<script type='text/javascript' src='/js/pvstat.js?20140324'><"+"/script>");
}
else
{
    document.writeln("<script type='text/javascript' src='http://i1.hdfimg.com/js/pvstat.js?20140324'><"+"/script>");
}
</script><script type="text/javascript" src="http://i1.hdfimg.com/js/pvstat.js?20140324"></script><img style="display:none;" src="http://pvstat.haodf.com/pvstat.gif?lc=file%3A///F%3A/haodf/zhxxb.html&amp;t=%u90D1%u5B8F%u5927%u592B%u4E2A%u4EBA%u7F51%u7AD9&amp;rf=&amp;u=&amp;g=78626_1446271992659&amp;_r=2023&amp;ua=mozilla/5.0%20%28windows%20nt%2010.0%3B%20wow64%29%20applewebkit/537.36%20%28khtml%2C%20like%20gecko%29%20chrome/45.0.2454.99%20safari/537.36" width="1" height="1">

   <script type="text/javascript" src="hdf/pvstat.js"></script>
   <img style="display:none;" src="hdf/pvstat.gif" width="1" height="1"> 
  </div>
