<link href="hdf/erweima.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/doctorpctwo.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/hospital-erweima.css" rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="hdf/register_login_new.js"></script> 
  <link href="hdf/numbers.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/calendar.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/base_p.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/proposal.css" rel="stylesheet" type="text/css" /> 
  <link type="text/css" rel="stylesheet" href="hdf/search.css" /> 
  <link href="hdf/erweima.css" rel="stylesheet" type="text/css" /> 
  <link type="text/css" rel="stylesheet" href="hdf/top_change.6b711130.css" /> 
  <link type="text/css" rel="stylesheet" href="hdf/collect.css" /> 
  <link href="hdf/patientmanage.b88f4d9c.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/doctorpostpictures.c2e5161c.css" rel="stylesheet" type="text/css" /> 
  <link rel="stylesheet" href="hdf/zzxdoctor.8f423d8e.css" type="text/css" /> 
  <link href="hdf/followup.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/docscale.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/docscale3.css" rel="stylesheet" type="text/css" /> 
  <link href="hdf/page_space_assistant.css" rel="stylesheet" type="text/css" /> 
  <link rel="stylesheet" href="hdf/jquery.fancybox-1.3.4.css" type="text/css" media="screen" /> 
  <script type="text/javascript" src="hdf/fancybox.js"></script>
  <script type="text/javascript" src="hdf/jquery.fancybox-1.3.4.pack.js"></script> 
  <link rel="stylesheet" href="hdf/jquery.fancybox-1.3.4.css" type="text/css" media="screen" /> 
  <script type="text/javascript">
var fancybox_systemcode = 'doctorzone';
</script> 
  <link href="hdf/page_space.f54feced.css" rel="stylesheet" type="text/css" /> 
  <link rel="stylesheet" type="text/css" href="hdf/login.css" /> 
  <link rel="stylesheet" type="text/css" href="hdf/patientlist.css" /> 
  <script src="hdf/jquery-1.8.3.min.js" type="text/javascript"></script> 
  <script src="hdf/fancybox(1).js" type="text/javascript"></script>
  <script type="text/javascript" src="hdf/jquery.fancybox-1.3.4.pack.js"></script> 
  <link rel="stylesheet" href="hdf/jquery.fancybox-1.3.4(1).css" type="text/css" media="screen" /> 
  <script src="hdf/page_space.f1a7d7eb.js" type="text/javascript"></script> 
  <script src="hdf/jquery-ui-1.8.custom.min.js" type="text/javascript"></script> 
  <script src="hdf/jquery.jplayer.min.js" type="text/javascript"></script> 
  <script src="hdf/calendar.js" type="text/javascript"></script> 
  <script>
$(function(){
    var $font = $(".article_detail").find("font"); 
    var $color = $font.attr('color');
    if ($color)
    {
        $font.find("a").css('color',$color);
//        $(".article_detail font a").css('color',$color);
    }
    });
</script> 
<div class="space_header2_20140224">

    <div class="space_banner" style="background:#eee url(http://i1.hdfimg.com/doctorzone/templates/tpl01/banner.jpg) no-repeat left top;">
        <div class="space_b_title">
            <h1><a class="space_b_link_url" href="/doctor_website">郑宏大夫的个人网站</a>&nbsp;<span class="space_b_url">hrysheng.com</span></h1>
        </div>

        <div class="space_b_doc_con clearfix">
            <div class="space_b_pic">
                <div class="space_b_pic_con">
                    <img src="http://n4.hdfimg.com/g4/M00/1C/3C/q4YBAFTQqe6AfNMLADYH2gIGZxo922_110_110_1.jpg?1597" alt="医生头像" title="潘湘斌">
                </div>
            </div>
            <div class="space_b_picright">
                <div class="doc_title clearfix">
                    <h3 class="doc_name f22 fl">
                    郑宏&nbsp;&nbsp;
                                                主任医师                        教授                    </h3>
                    <a href="javascript:;" id="saveweb" class="ml5 fl" onclick="return favPage();">收藏本站</a>
                </div>
                <div class="doc_hospital clearfix" style="min-height:40px;_height:40px;">
                    <div class="fl pr">
                        <div style="left:100%;margin-left:10px;top:0;width:170px;" class="pa">
                                                                                                                                                                    </div>
                                                <p>
                        <a href="" target="_blank">北京阜外医院</a>&nbsp;
                        <a href="" target="_blank">小儿心脏外科</a>
                        </p>
                                            </div>
                </div>
            </div>
        </div>
        <p class="space_b_store_site fs">本站已经通过实名认证，所有内容由潘湘斌大夫本人发表</p>
    <div class="space_b_info_page right10">
        <a href="doctor_website" target="_blank">郑宏</a>大夫信息中心页 

<!--扫码-->

   <!--扫码-->
       <div class="doctor_top_erweima" style="display:none" >
       <img src="http://i1.hdfimg.com/apptransform/images/codeimg_83.png">
          <div class="number">
              <p>请下载APP，</p>
              <p>直接与我沟通!</p>
              <p class="gray">已扫8,014次</p>
          </div>
        </div>
   </div>
 <!--扫码-->
   </div>
</div>
<script>
    function favPage()
    {
        var ua = navigator.userAgent.toLowerCase();
        var title = "潘湘斌大夫个人网站";
        var url = "http://xiangbin428.haodf.com";
        if(ua.indexOf("msie 8")>-1){
            external.AddToFavoritesBar(url,title,"");//IE8
        }else{
            try {
                window.external.addFavorite(url, title);
            } catch(e) {
                try {
                    window.sidebar.addPanel(title, url, "");//firefox
                } catch(e) {
                    alert("加入收藏失败，请使用Ctrl+D进行添加");
                }
            }
        }
    }
</script>
<div class="space_nav_div_20140224">
<div class="nav_div"> 
        <div class="nav">
            <ul class="clearfix f16">
 
                <li style="overflow:visible; z-index: 1;">
                    <a href="/doctor_website" class="">首页</a>
                                   </li>
 
                <li style="overflow:visible; z-index: 1;">
                    <a href="/doctor_consult" class="">咨询服务区</a>
                                   </li>
 
 
                <li style="overflow:visible; z-index: 1;">
                    <a href="/doctor_plus" rel="nofollow" class="choiced">预约加号</a>
                                   </li>
 
                <li style="overflow:visible; z-index: 1;">
                    <a href="doctor_lanmu" class="">文章</a>
                                   </li>
 
        </ul>
     </div>
</div>
</div>
<div class="content clearfix">
    <!--左侧开始-->
    <div class="fl w670 pr20">
    
    <!--申请流程 start-->
<div class="jiahao_procedure_bg mb20">
    <p class="title">网上预约加号申请流程</p>
    <ul class="clearfix jiahao_procedure fs mb10 lh180">
        <li class="jiahao_procedure1">提交预约申请资料</li>
        <li class="jiahao_procedure2">等待医生审核及短信通知</li>
        <li class="jiahao_procedure3">就诊前一天上网或致电客服确认须知并申请领取加号凭证短信</li>
        <li class="jiahao_procedure4">拿加号凭证短信找到医生领取加号单</li>
        <li class="jiahao_procedure5">凭加号单到门诊挂号就诊</li>
    </ul>
</div>
<!--申请流程 end-->  

    <!--申请预约加号 start-->
    <div class="mb30 apply_tel">
        <p class="pb10 f16 fs fb">您正在申请<span class="ml5 mr5 orange1">潘湘斌</span>大夫的网上预约加号服务</p>
        <div class="fs">
            <ul class="apply_jiahao">
                <li class="lh180">1. 想找潘湘斌大夫看病，但担心挂不上号？如果您的病情经过医院初步诊断符合潘湘斌大夫设定的以下预约加号条件，即可立即申请网上预约加号服务，获得潘湘斌大夫宝贵的门诊机会（即"加号"）。 
                </li>
                <li class="lh180">2. 网上预约加号服务是好大夫在线首创的一种病情优先制的服务，符合卫生部"层级诊疗"精神，把门诊机会分配给真正需要专家的重大疾病患者，保证专家的时间用于此类患者，提升医疗专家资源的利用率。
                </li>
                <li class="lh180">3. 网上预约加号服务仅针对非首诊患者。首诊患者请您直接到附近正规医院，有初步诊断后方可免费预约网上加号。</li>
            </ul>
        </div>
    </div>
    <!--申请预约加号 end-->
    
    <!--加号条件和申请 start-->
    <div class="mb30">
        <p class="line_x mb20"><span class="m_title f20">加号条件和申请</span></p>
        
        <form id="orderformlist" name="orderformlist" action="http://xiangbin428.haodf.com/booking/orderform#q1" method="post">
        <!--加号条件 start-->
        <div class="fs bb_d3 pr">
            <p class="fb condition_bg">潘湘斌大夫的加号条件:</p>
            <ul class="pt15 pb10 pl10 jiaohao_condition">
                <li class="pb10 lh180 fs">
                    <p>
                        <span class="fb"> 疾病要求：</span>房间隔缺损、室间隔缺损、动脉导管未闭、肺动脉狭窄等（不预约成人）                        <a class="ml10" href="http://jiahao.haodf.com/beijing/hospitalfaculty/3021000.htm">疾病不符？找其他大夫 <span class="f8">&gt;&gt;</span></a>
                    </p>
                </li>
                <li class="pb10 lh180 fs">
                    <p><span class="fb">患者地区要求：</span>
                        无                    </p>
                </li>
                    <li class="pb10 lh180 fs">
                        <p><span class="fb">接受预约患者的要求：</span>
                            仅接受新患友的预约                        </p>
                    </li>
            </ul>
            <div class="jiaohao_con_hint dn" style="display: none;">
                <span class="clinic_hint_bg"></span>
                <p class="clinic_desc f12">请确认潘湘斌大夫的加号条件是否与您预约的情况一致？</p>
            </div>
        </div>
        <!--加号条件  end-->
        
<!--选择门诊时间 start-->
<div class="fs pt20 bb_d3 pr">
<p class="condition_bg fb">选择门诊时间:</p>
<ul class="gray2 pb10 sel_clinic_time pl10 pt15" id="scheduleList">
 <li class="pb10"> <img src="http://i1.hdfimg.com/doctorzone/images/radio.png" alt="radio" class="ct"> <span> <font class="gray3 td_lt">2015-11-03星期二上午，外科介入门诊 </font> <font class="red">已约满</font> </span> </li>  <li class="pb10 nobold" onclick="checked(&quot;transfer_上午4&quot;);"> <input type="radio" name="transfer" value="2015-11-04,%C9%CF%CE%E7" class="cp" id="transfer_上午4"> <span class="cp"> 2015-11-04星期三上午,外科介入门诊 </span> </li>  <li class="pb10 nobold" onclick="checked(&quot;transfer_上午5&quot;);"> <input type="radio" name="transfer" value="2015-11-05,%C9%CF%CE%E7" class="cp" id="transfer_上午5"> <span class="cp"> 2015-11-05星期四上午,外科介入门诊 </span> </li>  <li class="pb10 nobold" onclick="checked(&quot;transfer_上午6&quot;);"> <input type="radio" name="transfer" value="2015-11-06,%C9%CF%CE%E7" class="cp" id="transfer_上午6"> <span class="cp"> 2015-11-06星期五上午,外科介入门诊 </span> </li>  <li class="pb10 nobold" onclick="checked(&quot;transfer_上午9&quot;);"> <input type="radio" name="transfer" value="2015-11-09,%C9%CF%CE%E7" class="cp" id="transfer_上午9"> <span class="cp"> 2015-11-09星期一上午,外科介入门诊 </span> </li>  <li class="pb10 nobold" onclick="checked(&quot;transfer_上午10&quot;);"> <input type="radio" name="transfer" value="2015-11-10,%C9%CF%CE%E7" class="cp" id="transfer_上午10"> <span class="cp"> 2015-11-10星期二上午,外科介入门诊 </span> </li>  <li class="pb10 nobold" onclick="checked(&quot;transfer_上午11&quot;);"> <input type="radio" name="transfer" value="2015-11-11,%C9%CF%CE%E7" class="cp" id="transfer_上午11"> <span class="cp"> 2015-11-11星期三上午,外科介入门诊 </span> </li>  <li class="pb10 nobold" onclick="checked(&quot;transfer_上午12&quot;);"> <input type="radio" name="transfer" value="2015-11-12,%C9%CF%CE%E7" class="cp" id="transfer_上午12"> <span class="cp"> 2015-11-12星期四上午,外科介入门诊 </span> </li>  <li class="pb10 nobold" onclick="checked(&quot;transfer_上午13&quot;);"> <input type="radio" name="transfer" value="2015-11-13,%C9%CF%CE%E7" class="cp" id="transfer_上午13"> <span class="cp"> 2015-11-13星期五上午,外科介入门诊 </span> </li>  <li class="pb10 nobold" onclick="checked(&quot;transfer_上午16&quot;);"> <input type="radio" name="transfer" value="2015-11-16,%C9%CF%CE%E7" class="cp" id="transfer_上午16"> <span class="cp"> 2015-11-16星期一上午,外科介入门诊 </span> </li>  <li class="pb10"><img src="http://i1.hdfimg.com/doctorzone/images/radio.png" alt="radio" class="ct"><span> <font class="gray3 td_lt">2015-11-17星期二上午</font> <font class="red">暂不可约；将于2015-11-01日13点开放供申请</font> </span> </li>             </ul>
            <div class="clinic_hint dn" style="display: none;">
                <span class="clinic_hint_bg"></span>
                <p class="clinic_desc">请点击选择门诊时间后，点击下方"申请"按钮进行预约，如暂无门诊，或门诊已约满、已停诊，则当日门诊不可以再进行预约。</p>
            </div>
        </div>
        <!--选择门诊时间 end-->

        <!--申请 start-->
        <div class="fs">
            <p class="pt20 tc"><input onclick="dosubmit();" class="submit_btn" type="button" value="申请"></p>
            <div class="tc fs pt20 bg_w gray2 clearfix">
            <img src="http://i1.hdfimg.com/doctorzone/images/booking_phone.png" style="position: relative; top: 3px; margin-right: 5px;">建议使用<a href="http://www.haodf.com/info/mobile/hdf_mobile.php?from=jiahao" target="_blank">手机客户端</a>免费预约加号快人一步
            </div>
            <div class="lh180 f12 gray3 pl10 pr10 pt20">
                <p>
                    <span class="mr5">*</span>
                    请点击选择门诊时间后，点击申请按钮进行预约，如暂无门诊，或门诊已约满、已停诊，则当日门诊不可以再进行预约。
                </p>
                    <p class="orange">
                        <span class="mr5">*</span>
                        潘湘斌大夫已经开通<a target="_blank" href="http://xiangbin428.haodf.com/payment/servicelist" class="ml5 mr5">电话咨询</a>服务，您可在就诊前先进行<a target="_blank" href="http://xiangbin428.haodf.com/payment/servicelist" class="ml5 mr5">电话咨询</a>，沟通门诊准备事项，避免盲目就医，减少反复奔波。
                    </p>
            </div>
        </div>
        <!--申请 end-->
        </form>
    </div>      
    <!--加号条件和申请 end-->
</div>
<input type="hidden" name="transfer_hidden" id="transfer_hidden" value="${modoule.transfer}">
    <!--左侧结束-->
    
    <!--右侧 start-->
    <div class="fr right_content">
    
    <!--服务承诺 start-->
    <div class="mb30">
        <img src="http://i1.hdfimg.com/doctorzone/images/promise_ad1.png" alt="">
    </div>
    <!--服务承诺 end--> 

    <!--最新预约 start-->
    <div class="mb30 mr_line">
    <h1 class="fn"><p class="f18 mr_title">最新预约<span class="f12 fs gray2">（已就诊：<font class="orange1 fb">288</font>人)</span></p></h1>
        <div class="oh" style="height:190px">
        <ul class="fs gray2 flow_patient" id="rightnewbooking" style="margin-top: 0px;">
            
            
            
            
            
            
        <li class="lh180 pt10 pb10 bbd_e9">
                <p class="f14 lh140 pb10">
                    <span class="mr5 black">[室间隔缺损]</span>

疾病: 
室间隔缺损（肌...                    </p>
                    <p class="fs">
                        <span>预约：</span>
                        <a href="http://www.haodf.com/hospital/DE4raCNSz6ONZORxEH4FVECt.htm" target="_blank" class="mr5">阜外医院</a>
                        <a href="http://www.haodf.com/faculty/DE4r08xQdKSLBgmwaOLYsexE0YC8.htm" target="_blank" class="mr5">小儿心脏外科</a>
                        <a href="http://xiangbin428.haodf.com" target="_blank" class="mr5">潘湘斌</a>
                    </p>
                    <p>2015-11-04上午门诊</p>
                </li><li class="lh180 pt10 pb10 bbd_e9">
                <p class="f14 lh140 pb10">
                    <span class="mr5 black">[先天性心脏]</span>

潘大夫您好，我儿子今年四...                    </p>
                    <p class="fs">
                        <span>预约：</span>
                        <a href="http://www.haodf.com/hospital/DE4raCNSz6ONZORxEH4FVECt.htm" target="_blank" class="mr5">阜外医院</a>
                        <a href="http://www.haodf.com/faculty/DE4r08xQdKSLBgmwaOLYsexE0YC8.htm" target="_blank" class="mr5">小儿心脏外科</a>
                        <a href="http://xiangbin428.haodf.com" target="_blank" class="mr5">潘湘斌</a>
                    </p>
                    <p>2015-11-04上午门诊</p>
                </li><li class="lh180 pt10 pb10 bbd_e9">
                <p class="f14 lh140 pb10">
                    <span class="mr5 black">[先天性心脏]</span>

出生15天时，因呼吸急促...                    </p>
                    <p class="fs">
                        <span>预约：</span>
                        <a href="http://www.haodf.com/hospital/DE4raCNSz6ONZORxEH4FVECt.htm" target="_blank" class="mr5">阜外医院</a>
                        <a href="http://www.haodf.com/faculty/DE4r08xQdKSLBgmwaOLYsexE0YC8.htm" target="_blank" class="mr5">小儿心脏外科</a>
                        <a href="http://xiangbin428.haodf.com" target="_blank" class="mr5">潘湘斌</a>
                    </p>
                    <p>2015-11-03上午门诊</p>
                </li><li class="lh180 pt10 pb10 bbd_e9">
                <p class="f14 lh140 pb10">
                    <span class="mr5 black">[动脉导管未]</span>

无治疗过程，动脉导管未闭...                    </p>
                    <p class="fs">
                        <span>预约：</span>
                        <a href="http://www.haodf.com/hospital/DE4raCNSz6ONZORxEH4FVECt.htm" target="_blank" class="mr5">阜外医院</a>
                        <a href="http://www.haodf.com/faculty/DE4r08xQdKSLBgmwaOLYsexE0YC8.htm" target="_blank" class="mr5">小儿心脏外科</a>
                        <a href="http://xiangbin428.haodf.com" target="_blank" class="mr5">潘湘斌</a>
                    </p>
                    <p>2015-11-03上午门诊</p>
                </li><li class="lh180 pt10 pb10 bbd_e9">
                <p class="f14 lh140 pb10">
                    <span class="mr5 black">[室间隔缺损]</span>

室间隔缺损，缺口4、7m...                    </p>
                    <p class="fs">
                        <span>预约：</span>
                        <a href="http://www.haodf.com/hospital/DE4raCNSz6ONZORxEH4FVECt.htm" target="_blank" class="mr5">阜外医院</a>
                        <a href="http://www.haodf.com/faculty/DE4r08xQdKSLBgmwaOLYsexE0YC8.htm" target="_blank" class="mr5">小儿心脏外科</a>
                        <a href="http://xiangbin428.haodf.com" target="_blank" class="mr5">潘湘斌</a>
                    </p>
                    <p>2015-11-12上午门诊</p>
                </li><li class="lh180 pt10 pb10 bbd_e9">
                <p class="f14 lh140 pb10">
                    <span class="mr5 black">[房间隔缺损]</span>

医院建议复查                    </p>
                    <p class="fs">
                        <span>预约：</span>
                        <a href="http://www.haodf.com/hospital/DE4raCNSz6ONZORxEH4FVECt.htm" target="_blank" class="mr5">阜外医院</a>
                        <a href="http://www.haodf.com/faculty/DE4r08xQdKSLBgmwaOLYsexE0YC8.htm" target="_blank" class="mr5">小儿心脏外科</a>
                        <a href="http://xiangbin428.haodf.com" target="_blank" class="mr5">潘湘斌</a>
                    </p>
                    <p>2015-11-10上午门诊</p>
                </li></ul>
        </div>
        <p class="tr fs pr15 pb10"><a href="http://jiahao.haodf.com/doctor/xiangbin428/yuyuejiahaolist.htm" target="_blank">查看更多<span class="f8">&gt;&gt;</span></a></p>
    </div>
    <!--最新预约 end-->
    
    <!--常见问题 start-->
    <div class="mb30 mr_line">
    <h1 class="fn"><p class="f18 mr_title">常见问题</p></h1>
    <ul class="data_list">
        <li><a href="http://www.haodf.com/info/plussignquestion.php#q4" target="_blank">·收到短信后如何就诊？</a></li>
        <li><a href="http://www.haodf.com/info/plussignquestion.php#q5" target="_blank">·为什么不能直接去挂号室？</a></li>
        <li><a href="http://www.haodf.com/info/plussignquestion.php#q6" target="_blank">·如何取消加号？</a></li>
        <li><a href="http://www.haodf.com/info/plussignquestion.php#q9" target="_blank">·没收到短信怎么办？</a></li>
        <li><a href="http://www.haodf.com/info/plussignquestion.php#q10" target="_blank">·申请没通过有哪些原因？</a></li>
    </ul>
</div>
    <!--常见问题 end-->
    
</div>
<script type="text/javascript">
var J_box = $("#rightnewbooking"),timer;
if($('#rightnewbooking').find('li').length > 2)
{
    scrollItem();

    J_box.hover(function(){
        clearInterval(timer);
    },function(){
        timer = setInterval(function(){
            scrollItem();
        },6000)
    }).trigger("mouseleave");
}
if($('#rightnewbooking').find('li').length == 1)
{
    $('#rightnewbooking').parent().css("height", "100px");
}
function scrollItem()
{
    var liH = J_box.find("li").first().outerHeight(true);
    var marginS = 'marginTop';
    var num = 2;
    var animater = {marginTop: -liH*num + "px"};
    J_box.animate(animater, 3000, function(){
        for(var i = 0; i<num; i++){
            $(this).find("li").first().appendTo(J_box);
        }
        J_box.css(marginS,"0px");
    })
}
</script>
    <!--右侧 end-->
</div>
