<div class="header header-logged-in" style="width: 1200px">
  <div class="container clearfix"  >
    <ul class="top-nav"  style="padding-top:0px">
      <li> <a href="/" style="margin-left: 0px;"><img src="/logo.png" style="width: 130px;height: 60px;"  /></a></li>
      <li> <a href="/" style="color: white;padding-top:9px">首页</a></li>
      <li><a href="/healthcenter" style="color: white;padding-top:10px">个人健康中心</a></li>
      <li><a href="/healthcenter" style="color: white;padding-top:10px">病历管理</a></li>
      <li><a href="/healthcenter" style="color: white;padding-top:10px">咨询记录</a></li>
      <li ><a href="/hryisheng" id="doctor_enter"  style="padding-top:10px">医生入口</a></li>
    </ul>
    <ul id="user-links">
      <li>  <%= link_to t('sign_in'), login_path %> </li>
    </ul>
  </div>
</div>

