<div class="w900 fl gd_ban">
                        <div class="gd_ban_con">
                            <ul class="" id="gd_ban_ul" style="width: 6300px; left: -4500px;">
                                                                                                <li><a href=""><img src="img/page1.jpg" alt=""></a></li>
                                                                <li><a href=""><img src="img/hys1.jpg" alt=""></a></li>
                                                                <li><a href=""><img src="img/hys2.jpg" alt=""></a></li>
                                                                <li><a href=""><img src="img/img_3.png" alt=""></a></li>
                                                                                                <!-- 
                                <li><span class="fs24">2>li</span></li> -->
                            </ul>

                        </div>
                        <div class="gd_ban_g">
                            <i id="hrefImg" class="gd_ban_left gd_ban_dir"></i>
                            <i id="nextImg" class="gd_ban_right  gd_ban_dir"></i>
                        </div>
                        <div class="gdb_top">
                            <div class="gdb_top_back"></div>
                            

                        </div>
</div>
